{{define "arests_from_period-details"}}
    <table class="io_table">
        <thead>
        <tr>
            <th>Акт</th>
            <th>Дата акта</th>
            <th>Статус акта</th>
            <th>ИП</th>
            <th>Постановление</th>
            <th>Дата постановления</th>
            <th>Номер постановления</th>
            <th>Статус постановления</th>
            <th>СПИ</th>
        </tr>
        </thead>
        <tbody>
        {{range $i, $ДанныеСтрок := .Данные}}
            {{range $i, $Строка := $ДанныеСтрок.КартаСтрок}}
                <tr>
                    <td>
                        {{$Строка.ACT_INFO}}
                    </td>
                    <td>
                        {{ParseDate $Строка.ACT_DATE}}
                    </td>
                    <td>
                        {{$Строка.ACT_STATUS}}
                    </td>
                    <td>
                        {{$Строка.IP_INFO}}
                    </td>
                    <td>
                        {{$Строка.ORDER_INFO}}
                    </td>
                    <td>
                        {{ParseDate $Строка.ORDER_DATE}}
                    </td>
                    <td>
                        {{$Строка.ORDER_NUMBER}}
                    </td>
                    <td>
                        {{$Строка.ORDER_STATUS}}
                    </td>
                    <td>
                        {{$Строка.IP_EXEC_PRIST_NAME}}
                    </td>
                </tr>

            {{end}}
        {{end}}

        </tbody>
    </table>
{{end}}