{{define "COVIDconsolidated_old"}}
<div class="covid_table_state_itog">
    {{$CovidData := index .data.сумма 0}}

        <table class="io_table" id="covid_table_state_itog">
            <caption>
                Информация об организации дистанционной профессиональной деятельности работников (сотрудников)  УФССП России по Ставропольскому краю на {{Сегодня}}
            </caption>
            <thead>
                <tr>
                    <th rowspan="3" colspan="2">
                        <label for="osp">
                            {{$OspCode := .client.OspCode}}
                            {{if СтрокаСодержит .client.OspCode "269"}}
                                {{$OspCode = 26000}}
                            {{end}}
                        <div class="input_name">{{(index .OspList (ЧислоВСтроку $OspCode)).OspName}} </div>
                    </label></th>
                    <th rowspan="2">Численность работников в соответствии со штатным расписанием</th>
                    <th rowspan="2">Фактическая численность работников</th>
                    <th colspan="3">Работники, находящиеся в отпуске </th>
                    <th colspan="3">Работники, находящиеся в отпуске без сохранения денежного содержания</th>
                    <th colspan="3">Работники, отсутствующие в связи с временной нетрудоспособностью  (на больничном листе)</th>
                    <th colspan="3">Работники, переведенные на дистанционный формат работы</th>
                    <th colspan="2">ИТОГО работников, находящихся на рабочем месте</th>
                </tr>
               <tr>
                   <th>Всего</th>
                   <th>Многодетные лица*</th>
                   <th>Лица пенсионного возраста**</th>
                   <th>Всего</th>
                   <th>Многодетные лица*</th>
                   <th>Лица пенсионного возраста**</th>
                   <th>Всего</th>
                   <th>Многодетные лица*</th>
                   <th>Лица пенсионного возраста**</th>
                   <th>Всего</th>
                   <th>Многодетные лица*</th>
                   <th>Лица пенсионного возраста**</th>
                   <th>Количество</th>
                   <th>Процент</th>
               </tr>
                <tr>
                   <th>1</th>
                   <th>2</th>
                   <th>3</th>
                   <th>4</th>
                   <th>5</th>
                   <th>6</th>
                   <th>7</th>
                   <th>8</th>
                   <th>9</th>
                   <th>10</th>
                   <th>11</th>
                   <th>12</th>
                   <th>13</th>
                   <th>14</th>
                   <th>15</th>
                   <th>16</th>
               </tr>
            </thead>

            <tbody id ="">

                <tr>
                    <th colspan="2">Территориальный орган (всего)</th>
                    <td></td>
                    <td></td>
                    <td></td>

                    <td></td>
                    <td></td>
                    <td></td>

                    <td></td>
                    <td></td>
                    <td></td>

                    <td></td>
                    <td></td>
                    <td></td>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th rowspan="2">В том числе:</th>
                    <th>аппарат управления</th>
                    <td></td>
                    <td></td>
                    {{with  (index (index .data.сумма_управление 0).сумма_всего 0)}}
                        <td>{{.отпуск_всего}}</td>
                        <td>{{.отпуск_многодетные}}</td>
                        <td>{{.отпуск_пенсионные}}</td>
                        <td>{{.отпуск_без_содержания_всего}}</td>
                        <td>{{.отпуск_без_содержания_многодетные}}</td>
                        <td>{{.отпуск_без_содержания_пенсионные}}</td>

                        <td>

                            {{$больничныйВсегоCovid := .больничный_всего_covid}}

                            {{if not .больничный_всего_covid }}
                                {{$больничныйВсегоCovid = 0}}
                            {{end}}
                            {{$БольничныйВсегоОрви := .больничный_всего_орви}}

                            {{if not .больничный_всего_орви }}
                                {{$БольничныйВсегоОрви = 0}}
                            {{end}}
                            {{$БольничныйВсегоИное := .больничный_всего_иное}}

                            {{if not .больничный_всего_орви }}
                                {{$БольничныйВсегоИное = 0}}
                            {{end}}

                            {{Сумма $больничныйВсегоCovid (Сумма $БольничныйВсегоОрви $БольничныйВсегоИное)}}



                        </td>
                        <td>
{{/*                            {{Сумма .больничный_многодетные_всего_covid (Сумма .больничный_многодетные_всего_иное .больничный_многодетные_всего_орви)}}*/}}
{{/*                            {{.больничный_многодетные_всего_covid }}+{{.больничный_многодетные_всего_иное}} +{{.больничный_многодетные_всего_орви}}*/}}

                            {{$больничныйМногодетныеВсего_covid := .больничный_многодетные_всего_covid}}

                            {{if not .больничный_многодетные_всего_covid }}
                                {{$больничныйМногодетныеВсего_covid = 0}}
                            {{end}}
                            {{$больничныйМногодетныеВсего_иное := .больничный_многодетные_всего_иное}}

                            {{if not .больничный_многодетные_всего_иное }}
                                {{$больничныйМногодетныеВсего_иное = 0}}
                            {{end}}

                            {{$больничныйМногодетныеВсего_орви := .больничный_многодетные_всего_орви}}

                            {{if not .больничный_многодетные_всего_орви }}
                                {{$больничныйМногодетныеВсего_орви = 0}}
                            {{end}}

                            {{Сумма $больничныйМногодетныеВсего_covid (Сумма $больничныйМногодетныеВсего_иное $больничныйМногодетныеВсего_орви)}}


                        </td>

                        <td>
{{/*                            {{Сумма .больничный_пенсионные_всего_covid (Сумма .больничный_пенсионные_всего_иное .больничный_пенсионные_всего_орви)}}*/}}
{{/*                            {{.больничный_пенсионные_всего_covid}}{{.больничный_пенсионные_всего_иное}}+{{.больничный_пенсионные_всего_орви}}*/}}

                            {{$больничныйпенсионныеВсего_covid := .больничный_пенсионные_всего_covid}}

                            {{if not .больничный_пенсионные_всего_covid }}
                                {{$больничныйпенсионныеВсего_covid = 0}}
                            {{end}}
                            {{$больничныйпенсионныеВсего_иное := .больничный_пенсионные_всего_иное}}

                            {{if not .больничный_пенсионные_всего_иное }}
                                {{$больничныйпенсионныеВсего_иное = 0}}
                            {{end}}

                            {{$больничныйпенсионныеВсего_орви := .больничный_пенсионные_всего_орви}}

                            {{if not .больничный_пенсионные_всего_орви }}
                                {{$больничныйпенсионныеВсего_орви = 0}}
                            {{end}}

                            {{Сумма $больничныйпенсионныеВсего_covid (Сумма $больничныйпенсионныеВсего_иное $больничныйпенсионныеВсего_орви)}}

                        </td>

                        <td>{{.удаленка_всего}}</td>
                        <td>{{.удаленка_многодетные}}</td>
                        <td>{{.удаленка_пенсионные}}</td>
                        <td>{{.работает_всего}}</td>
                        <td></td>
                    {{end}}
                </tr>
                <tr>
                    <th>структурные подразделения</th>
                    <td></td>
                    <td></td>
                    {{with $CovidData.сумма_всего}}
                        {{ $sum := index . 0}}
                        <td>{{$sum.отпуск_всего}}</td>
                        <td>{{$sum.отпуск_многодетные}}</td>
                        <td>{{$sum.отпуск_пенсионные}}</td>
                        <td>{{$sum.отпуск_без_содержания_всего}}</td>
                        <td>{{$sum.отпуск_без_содержания_многодетные}}</td>
                        <td>{{$sum.отпуск_без_содержания_пенсионные}}</td>

                        <td>
                            {{Сумма $sum.больничный_всего_covid (Сумма $sum.больничный_всего_орви $sum.больничный_всего_иное)}}
{{/*                            {{ $sum.больничный_всего_covid}}*/}}
{{/*                            {{ $sum.больничный_всего_орви}}*/}}
{{/*                            {{ $sum.больничный_всего_иное}}*/}}
                        </td>

                        <td>
                            {{Сумма $sum.больничный_многодетные_всего_covid (Сумма $sum.больничный_многодетные_всего_иное $sum.больничный_многодетные_всего_орви)}}
                        </td>

                        <td>
                            {{Сумма $sum.больничный_пенсионные_всего_covid (Сумма $sum.больничный_пенсионные_всего_иное $sum.больничный_пенсионные_всего_орви)}}
                        </td>



                        <td>{{$sum.удаленка_всего}}</td>
                        <td>{{$sum.удаленка_многодетные}}</td>
                        <td>{{$sum.удаленка_пенсионные}}</td>
                        <td>{{$sum.работает_всего}}</td>
                        <td></td>



                    {{end}}

                </tr>
                <tr>
                    <th colspan="2">Cудебные приставы-исполнители</th>
                    <td></td>
                    <td></td>
                    {{with $CovidData.сумма_спи}}
                        {{ $sum := index . 0}}
                        <td>{{$sum.спи_отпуск_всего}}</td>
                        <td>{{$sum.спи_отпуск_многодетные}}</td>
                        <td>{{$sum.спи_отпуск_пенсионные}}</td>
                        <td>{{$sum.спи_отпуск_без_содержания_всего}}</td>
                        <td>{{$sum.спи_отпуск_без_содержания_мдетные}}</td>
                        <td>{{$sum.спи_отпуск_без_содержания_пенс}}</td>

                        <td>
                            {{Сумма $sum.спи_больничный_всего_covid (Сумма $sum.спи_больничный_всего_иное $sum.спи_больничный_всего_орви)}}
                        </td>

                        <td>
                            {{Сумма $sum.спи_больничный_мдетные_всего_covid (Сумма $sum.спи_больничный_мдетные_всего_иное $sum.спи_больничный_мдетные_всего_орви)}}
                        </td>

                        <td>  {{Сумма $sum.спи_больничный_пенс_всего_covid (Сумма $sum.спи_больничный_пенс_всего_иное $sum.спи_больничный_пенс_всего_орви)}}
                        </td>

                        <td>{{$sum.спи_удаленка_всего}}</td>
                        <td>{{$sum.спи_удаленка_многодетные}}</td>
                        <td>{{$sum.спи_удаленка_пенсионные}}</td>
                        <td>{{$sum.спи_работает_всего}}</td>
                        <td></td>

                    {{end}}


                </tr>
                <tr>
                    <th colspan="2">Дознаватели</th>
                    <td></td>
                    <td></td>
                    {{with $CovidData.сумма_дозн}}
                        {{ $sum := index . 0}}
                        <td>{{$sum.дознаватели_отпуск_всего}}</td>
                        <td>{{$sum.дознаватели_отпуск_многодетные}}</td>
                        <td>{{$sum.дознаватели_отпуск_пенсионные}}</td>
                        <td>{{$sum.дозн_отпуск_без_содержания_всего}}</td>
                        <td>{{$sum.дозн_отпуск_без_содерж_мдетные}}</td>
                        <td>{{$sum.дозн_отпуск_без_содержания_пенс}}</td>

                        <td>
                            {{Сумма $sum.дозн_больничный_всего_covid (Сумма $sum.дозн_больничный_всего_иное $sum.дозн_больничный_всего_орви)}}
                        </td>

                        <td>
                            {{Сумма $sum.дозн_больничный_мдетные_всего_covid (Сумма $sum.дозн_больничный_мдетн_всего_иное $sum.дозн_больничный_мдетн_всего_орви)}}
                        </td>

                        <td>
                            {{Сумма $sum.дозн_больничный_пенс_всего_covid (Сумма $sum.дозн_больничный_пенс_всего_иное $sum.дозн_больничный_пенс_всего_орви)}}
                        </td>


                        <td>{{$sum.дозн_удаленка_всего}}</td>
                        <td>{{$sum.дозн_удаленка_многодетные}}</td>
                        <td>{{$sum.дозн_удаленка_пенсионные}}</td>
                        <td>{{$sum.дозн_работает_всего}}</td>
                        <td></td>
                    {{end}}

                <tr>
                    <th colspan="2">Судебные приставы по ОУПДС</th>
                    <td></td>
                    <td></td>
                    {{with $CovidData.сумма_оупдс}}
                        {{ $sum := index . 0}}
                        <td>{{$sum.оупдс_отпуск_всего}}</td>
                        <td>{{$sum.оупдс_отпуск_многодетные}}</td>
                        <td>{{$sum.оупдс_отпуск_пенсионные}}</td>
                        <td>{{$sum.оупдс_отпуск_без_сод_всего}}</td>
                        <td>{{$sum.оупдс_отпуск_без_сод_многодетные}}</td>
                        <td>{{$sum.оупдс_отпуск_без_сод_пенсионные}}</td>

                        <td>
                            {{Сумма $sum.оупдс_больничный_всего_covid (Сумма $sum.оупдс_больничный_всего_иное $sum.оупдс_больничный_всего_орви)}}
                        </td>

                        <td>
                            {{Сумма $sum.оупдс_больничный_мдетн_всего_иное (Сумма $sum.оупдс_больничный_мдетн_всего_орви $sum.оупдс_больничный_мдетные_всего_covid)}}
                        </td>

                        <td>
                            {{Сумма $sum.оупдс_больничный_пенс_всего_covid (Сумма $sum.оупдс_больничный_пенс_всего_иное $sum.оупдс_больничный_пенс_всего_covid)}}
                        </td>

                        <td>{{$sum.оупдс_удаленка_всего}}</td>
                        <td>{{$sum.оупдс_удаленка_многодетные}}</td>
                        <td>{{$sum.оупдс_удаленка_пенсионные}}</td>
                        <td>{{$sum.оупдс_работает_всего}}</td>
                        <td></td>
                    {{end}}

                </tr>
            </tbody>

        </table>

        <div>
            <div>
                * Беременные женщины, многодетные лица и лица, имеющие малолетних детей
            </div>
            <div>
                **Лица старше 55 лет, инвалиды
            </div>
        </div>

    <table class="io_table" id="covid_table">
        <caption>
            Информация об организации дистанционной профессиональной деятельности работников (сотрудников) УФССП России по Ставропольскому краю по состоянию на {{CurrentTime}}
        </caption>
        <thead>
        <tr>
            <th rowspan="3">
                УФССП России по Ставропольскому краю
            </th>
            <th colspan="3">Работники, находящиеся в отпуске</th>
            <th colspan="3">Работники, находящиеся в отпуске без сохранения денежного содержания</th>
            <th colspan="9">Работники, отсутствующие  в связи с временной нетрудоспособностью (на больничном листе)</th>
            <th colspan="3">Работники, переведенные на дистанционный формат работы</th>
            <th colspan="2">ИТОГО работников, находящихся на рабочем месте</th>
        </tr>
        <tr>
            <th>Всего</th>
            <th>Многодетные лица*</th>
            <th>Лица пенсионного возраста**</th>
            <th>Всего</th>
            <th>Многодетные лица*</th>
            <th>Лица пенсионного возраста**</th>
            <th colspan="3">Всего</th>
            <th colspan="3">Многодетные лица*</th>
            <th colspan="3">Лица пенсионного возраста**</th>
            <th>Всего</th>
            <th>Многодетные лица*</th>
            <th>Лица пенсионного возраста**</th>
            <th>Количество</th>
            <th>Процент</th>
        </tr>
        <tr>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>орви</th>
            <th>COVID-19</th>
            <th>Иное</th>
            <th>орви</th>
            <th>COVID-19</th>
            <th>Иное</th>
            <th>орви</th>
            <th>COVID-19</th>
            <th>Иное</th>
            <th>12</th>
            <th>13</th>
            <th>14</th>
            <th>15</th>
            <th>16</th>

        </tr>
        </thead>
        <tbody>
        {{with index .data.разбивка 0}}
        <tr>

            <th>Всего</th>
            <td>{{.отпуск_всего}}</td>
            <td>{{.отпуск_многодетные}}</td>
            <td>{{.отпуск_пенсионные}}</td>

            <td>{{.отпуск_без_содержания_всего}}</td>
            <td>{{.отпуск_без_содержания_многодетные}}</td>
            <td>{{.отпуск_без_содержания_пенсионные}}</td>

            <td>{{.больничный_всего_орви}}</td>
            <td>{{.больничный_всего_covid}}</td>
            <td>{{.больничный_всего_иное}}</td>

            <td>{{.больничный_многодетные_всего_орви}}</td>
            <td>{{.больничный_многодетные_всего_covid}}</td>
            <td>{{.больничный_многодетные_всего_иное}}</td>

            <td>{{.больничный_пенсионные_всего_орви}}</td>
            <td>{{.больничный_пенсионные_всего_covid}}</td>
            <td>{{.больничный_пенсионные_всего_иное}}</td>

            <td>{{.удаленка_всего}}</td>
            <td>{{.удаленка_многодетные}}</td>
            <td>{{.удаленка_пенсионные}}</td>

            <td>{{.работает_всего}}</td>
            <td></td>



        </tr>
        <tr>
            <th>Судебные приставы-исполнители</th>

            <td>{{.спи_отпуск_всего}}</td>
            <td>{{.спи_отпуск_многодетные}}</td>
            <td>{{.спи_отпуск_пенсионные}}</td>

            <td>{{.спи_отпуск_без_содержания_всего}}</td>
            <td>{{.спи_отпуск_без_содержания_мдетные}}</td>
            <td>{{.спи_отпуск_без_содержания_пенс}}</td>

            <td>{{.спи_больничный_всего_орви}}</td>
            <td>{{.спи_больничный_всего_covid}}</td>
            <td>{{.спи_больничный_всего_иное}}</td>

            <td>{{.спи_больничный_мдетные_всего_орви}}</td>
            <td>{{.спи_больничный_мдетные_всего_covid}}</td>
            <td>{{.спи_больничный_мдетные_всего_иное}}</td>

            <td>{{.спи_больничный_пенс_всего_орви}}</td>
            <td>{{.спи_больничный_пенс_всего_covid}}</td>
            <td>{{.спи_больничный_пенс_всего_иное}}</td>

            <td>{{.спи_удаленка_всего}}</td>
            <td>{{.спи_удаленка_многодетные}}</td>
            <td>{{.спи_удаленка_пенсионные}}</td>

            <td>{{.спи_работает_всего}}</td>
            <td></td>
        </tr>
        <tr>
            <th>Дознаватели</th>
            <td>{{.дознаватели_отпуск_всего}}</td>
            <td>{{.дознаватели_отпуск_многодетные}}</td>
            <td>{{.дознаватели_отпуск_пенсионные}}</td>

            <td>{{.дозн_отпуск_без_содержания_всего}}</td>
            <td>{{.дозн_отпуск_без_содерж_мдетные}}</td>
            <td>{{.дозн_отпуск_без_содержания_пенс}}</td>

            <td>{{.дозн_больничный_всего_орви}}</td>
            <td>{{.дозн_больничный_всего_covid}}</td>
            <td>{{.дозн_больничный_всего_иное}}</td>

            <td>{{.дозн_больничный_мдетн_всего_орви}}</td>
            <td>{{.дозн_больничный_мдетные_всего_covid}}</td>
            <td>{{.дозн_больничный_мдетн_всего_иное}}</td>

            <td>{{.дозн_больничный_пенс_всего_орви}}</td>
            <td>{{.дозн_больничный_пенс_всего_covid}}</td>
            <td>{{.дозн_больничный_пенс_всего_иное}}</td>

            <td>{{.дозн_удаленка_всего}}</td>
            <td>{{.дозн_удаленка_многодетные}}</td>
            <td>{{.дозн_удаленка_пенсионные}}</td>

            <td>{{.дозн_работает_всего}}</td>
            <td></td>
        </tr>
        <tr>
            <th>Судебные приставы по ОУПДС</th>
            <td>{{.оупдс_отпуск_всего}}</td>
            <td>{{.оупдс_отпуск_многодетные}}</td>
            <td>{{.оупдс_отпуск_пенсионные}}</td>

            <td>{{.оупдс_отпуск_без_сод_всего}}</td>
            <td>{{.оупдс_отпуск_без_сод_многодетные}}</td>
            <td>{{.оупдс_отпуск_без_сод_пенсионные}}</td>

            <td>{{.оупдс_больничный_всего_орви}}</td>
            <td>{{.оупдс_больничный_всего_covid}}</td>
            <td>{{.оупдс_больничный_всего_иное}}</td>

            <td>{{.оупдс_больничный_мдетн_всего_орви}}</td>
            <td>{{.оупдс_больничный_мдетные_всего_covid}}</td>
            <td>{{.оупдс_больничный_мдетн_всего_иное}}</td>

            <td>{{.оупдс_больничный_пенс_всего_орви}}</td>
            <td>{{.оупдс_больничный_пенс_всего_covid}}</td>
            <td>{{.оупдс_больничный_пенс_всего_иное}}</td>

            <td>{{.оупдс_удаленка_всего}}</td>
            <td>{{.оупдс_удаленка_многодетные}}</td>
            <td>{{.оупдс_удаленка_пенсионные}}</td>

            <td>{{.оупдс_работает_всего}}</td>
            <td></td>
        </tr>

        </tbody>

    </table>
    {{end}}

    {{with .data.всего_по_осп}}
        <table class="io_table" >
            <caption>Данные на {{Сегодня}}</caption>
            <thead>
            <tr>
                <th>ОСП</th>
                <th>отпуск всего</th>
                <th>отпуск без содержания всего</th>
                <th>удаленка всего</th>
                <th>спи удаленка всего</th>
                <th>работает всего</th>
            </tr>
            </thead>
            <tbody>
            {{range $i, $osp := .}}
                <tr>

                                     <td>{{$osp.osp_name}}</td>
                                     <td>{{$osp.отпуск_всего}}</td>
                                     <td>{{$osp.отпуск_без_содержания_всего}}</td>
                                     <td>{{$osp.удаленка_всего}}</td>
                                     <td>{{$osp.спи_удаленка_всего}}</td>
                                     <td>{{$osp.работает_всего}}</td>
                </tr>
            {{end}}
            </tbody>
        </table>
    {{end}}


</div>

{{end}}
