{{define "DialogsList"}}
<div class="tabs_wrapper" id="dialogs">
    <div id="tabs_switcher_wrapper">
        <button class="panel_toggle" onclick="СвернутьПанель('tabs_switcher_wrapper')"><</button>
    <div class="tabs_switcher" >
        <button class="link"  onclick="WS.ОтправитьСообщениеИО('новый диалог', '')">Создать новый диалог</button>
        {{range $i, $диалог := .data.список_диалогов}}
            <div class="tree category" id="dialog_{{$диалог.номер_диалога}}">
                <div class="button_group">
                    {{if .сообщения}}
                        <button class="tree_toogler" style="" onclick="TreeMenu.Переключить('dialog_{{$диалог.номер_диалога}}')" title="Раскрыть категории"> + </button>
                    {{end}}
                    <button class="link"  onclick="WS.ОтправитьСообщениеИО('показать все сообщения диалога', {номер_диалога:{{$диалог.номер_диалога}}})">{{$диалог.описание_диалога}} {{$диалог.номер_диалога}}</button>
                </div>

                {{with .сообщения}}
                    {{range $id, $сообщение := .}}
                        <div class="inner">
                            <button class="link"  onclick="WS.ОтправитьСообщениеИО('показать сообщение диалога', {'ид':{{$сообщение.ид}}})">{{$сообщение.активирующее_сообщение}} {{$сообщение.ид}}</button>
                        </div>
                    {{end}}
                {{end}}
            </div>
        {{end}}
    </div>
    </div>

        <div class="dialog_wrapper" id="dialog_wrapper">

        </div>
</div>

{{/*    {{template "Dialogs" .}}*/}}
{{end}}