{{define "OspCovidResult"}}
    OspCovidResult
    {{$covid := index  .data.новые_данные 0}}
{{/*            <tbody>tbody*/}}
                <tr><td colspan="20"><strong>{{$covid.дата}}</strong>

{{/*                        {{if or (eq $covid.заполнил $.client.Login) (eq $.client.Login "maksimchuk@r26") }}*/}}
                        <form action="удалить запись covid" onsubmit="WS.SendForm(event)">
                            <input type="text" class="inviz" name="осп" value="{{$covid.осп}}" readonly>
                            <input type="text" class="inviz" name="дата" value="{{$covid.дата}}" readonly>
                            <button type="submit">Удалить</button>
                        </form>
{{/*                        {{end}}*/}}
                    </td></tr>
                <tr>
                    <th>Всего</th>
                    <td>{{$covid.отпуск_всего}}</td>
                    <td>{{$covid.отпуск_многодетные}}</td>
                    <td>{{$covid.отпуск_пенсионные}}</td>

                    <td>{{$covid.отпуск_без_содержания_всего}}</td>
                    <td>{{$covid.отпуск_без_содержания_многодетные}}</td>
                    <td>{{$covid.отпуск_без_содержания_пенсионные}}</td>

                    <td>{{$covid.больничный_всего_орви}}</td>
                    <td>{{$covid.больничный_всего_covid}}</td>
                    <td>{{$covid.больничный_всего_иное}}</td>

                    <td>{{$covid.больничный_многодетные_всего_орви}}</td>
                    <td>{{$covid.больничный_многодетные_всего_covid}}</td>
                    <td>{{$covid.больничный_многодетные_всего_иное}}</td>

                    <td>{{$covid.больничный_пенсионные_всего_орви}}</td>
                    <td>{{$covid.больничный_пенсионные_всего_covid}}</td>
                    <td>{{$covid.больничный_пенсионные_всего_иное}}</td>

                    <td>{{$covid.удаленка_всего}}</td>
                    <td>{{$covid.удаленка_многодетные}}</td>
                    <td>{{$covid.удаленка_пенсионные}}</td>

                    <td>{{$covid.работает_всего}}</td>
                    <td>{{$covid.работает_процент}}</td>
                    <td>{{$covid.всего_каранти_в_мед}}</td>
                    <td>{{$covid.всего_каранти_дома}}</td>
                    <td>{{$covid.всего_прошли_иccледование}}</td>

                    <td>{{$covid.всего_прошли_вакцинацию_1}}</td>
                    <td>{{$covid.всего_прошли_вакцинацию_2}}</td>



                </tr>
                <tr>
                    <th>Судебные приставы-исполнители</th>

                    <td>{{$covid.спи_отпуск_всего}}</td>
                    <td>{{$covid.спи_отпуск_многодетные}}</td>
                    <td>{{$covid.спи_отпуск_пенсионные}}</td>

                    <td>{{$covid.спи_отпуск_без_содержания_всего}}</td>
                    <td>{{$covid.спи_отпуск_без_содержания_мдетные}}</td>
                    <td>{{$covid.спи_отпуск_без_содержания_пенс}}</td>

                    <td>{{$covid.спи_больничный_всего_орви}}</td>
                    <td>{{$covid.спи_больничный_всего_covid}}</td>
                    <td>{{$covid.спи_больничный_всего_иное}}</td>

                    <td>{{$covid.спи_больничный_мдетные_всего_орви}}</td>
                    <td>{{$covid.спи_больничный_мдетные_всего_covid}}</td>
                    <td>{{$covid.спи_больничный_мдетные_всего_иное}}</td>

                    <td>{{$covid.спи_больничный_пенс_всего_орви}}</td>
                    <td>{{$covid.спи_больничный_пенс_всего_covid}}</td>
                    <td>{{$covid.спи_больничный_пенс_всего_иное}}</td>

                    <td>{{$covid.спи_удаленка_всего}}</td>
                    <td>{{$covid.спи_удаленка_многодетные}}</td>
                    <td>{{$covid.спи_удаленка_пенсионные}}</td>

                    <td>{{$covid.спи_работает_всего}}</td>
                    <td>{{$covid.спи_работает_процент}}</td>

                    <td>{{$covid.спи_каранти_в_мед}}</td>
                    <td>{{$covid.спи_каранти_дома}}</td>
                    <td>{{$covid.спи_прошли_иccледование}}</td>

                    <td>{{$covid.спи_прошли_вакцинацию_1}}</td>
                    <td>{{$covid.спи_прошли_вакцинацию_2}}</td>
                </tr>
                <tr>
                    <th>Дознаватели</th>
                    <td>{{$covid.дознаватели_отпуск_всего}}</td>
                    <td>{{$covid.дознаватели_отпуск_многодетные}}</td>
                    <td>{{$covid.дознаватели_отпуск_пенсионные}}</td>

                    <td>{{$covid.дозн_отпуск_без_содержания_всего}}</td>
                    <td>{{$covid.дозн_отпуск_без_содерж_мдетные}}</td>
                    <td>{{$covid.дозн_отпуск_без_содержания_пенс}}</td>

                    <td>{{$covid.дозн_больничный_всего_орви}}</td>
                    <td>{{$covid.дозн_больничный_всего_covid}}</td>
                    <td>{{$covid.дозн_больничный_всего_иное}}</td>

                    <td>{{$covid.дозн_больничный_мдетн_всего_орви}}</td>
                    <td>{{$covid.дозн_больничный_мдетные_всего_covid}}</td>
                    <td>{{$covid.дозн_больничный_мдетн_всего_иное}}</td>

                    <td>{{$covid.дозн_больничный_пенс_всего_орви}}</td>
                    <td>{{$covid.дозн_больничный_пенс_всего_covid}}</td>
                    <td>{{$covid.дозн_больничный_пенс_всего_иное}}</td>

                    <td>{{$covid.дозн_удаленка_всего}}</td>
                    <td>{{$covid.дозн_удаленка_многодетные}}</td>
                    <td>{{$covid.дозн_удаленка_пенсионные}}</td>

                    <td>{{$covid.дозн_работает_всего}}</td>
                    <td>{{$covid.дозн_работает_процент}}</td>

                    <td>{{$covid.дозн_каранти_в_мед}}</td>
                    <td>{{$covid.дозн_каранти_дома}}</td>
                    <td>{{$covid.дозн_прошли_иccледование}}</td>

                    <td>{{$covid.дозн_прошли_вакцинацию_1}}</td>
                    <td>{{$covid.дозн_прошли_вакцинацию_2}}</td>
                </tr>
                <tr>
                    <th>Судебные приставы по ОУПДС</th>
                    <td>{{$covid.оупдс_отпуск_всего}}</td>
                    <td>{{$covid.оупдс_отпуск_многодетные}}</td>
                    <td>{{$covid.оупдс_отпуск_пенсионные}}</td>

                    <td>{{$covid.оупдс_отпуск_без_сод_всего}}</td>
                    <td>{{$covid.оупдс_отпуск_без_сод_многодетные}}</td>
                    <td>{{$covid.оупдс_отпуск_без_сод_пенсионные}}</td>

                    <td>{{$covid.оупдс_больничный_всего_орви}}</td>
                    <td>{{$covid.оупдс_больничный_всего_covid}}</td>
                    <td>{{$covid.оупдс_больничный_всего_иное}}</td>

                    <td>{{$covid.оупдс_больничный_мдетн_всего_орви}}</td>
                    <td>{{$covid.оупдс_больничный_мдетные_всего_covid}}</td>
                    <td>{{$covid.оупдс_больничный_мдетн_всего_иное}}</td>

                    <td>{{$covid.оупдс_больничный_пенс_всего_орви}}</td>
                    <td>{{$covid.оупдс_больничный_пенс_всего_covid}}</td>
                    <td>{{$covid.оупдс_больничный_пенс_всего_иное}}</td>

                    <td>{{$covid.оупдс_удаленка_всего}}</td>
                    <td>{{$covid.оупдс_удаленка_многодетные}}</td>
                    <td>{{$covid.оупдс_удаленка_пенсионные}}</td>

                    <td>{{$covid.оупдс_работает_всего}}</td>
                    <td>{{$covid.оупдс_работает_процент}}</td>

                    <td>{{$covid.оупдс_каранти_в_мед}}</td>
                    <td>{{$covid.оупдс_каранти_дома}}</td>
                    <td>{{$covid.оупдс_прошли_иccледование}}</td>

                    <td>{{$covid.оупдс_прошли_вакцинацию_1}}</td>
                    <td>{{$covid.оупдс_прошли_вакцинацию_2}}</td>
                </tr>
{{/*            </tbody>*/}}
{{end}}
