{{define "TableGenerator"}}
    <table class="io_table text_center">
        <thead>
            <tr>
                {{range $Индекс, $Название := .Столбцы}}
                    <th>{{$Название}}</th>
                {{end}}
            </tr>
        </thead>
        <tbody>
        {{range $ИндексСтроки, $Строка := .Строки}}

            <tr>
                {{range $НазваниеСтолбца, $Ячейка := $Строка}}
                    <td>
                       {{$Ячейка}}
                    </td>
                {{end}}
            </tr>
        {{end}}
        </tbody>
    </table>
{{end}}