{{define "АдминистративныеДела"}}

{{ $данные_ад := (index (index .data.данные_ад (ЧислоВСтроку 260)).МассивСтрок 0)}}
{{ $форма := (index .data.форма 0).форма}}

{{ if gt 0 (len $данные_ад)  }}
        {{template "АдминистративныеДелаБезДанных" .}}
{{else}}

    <div id="ad_cards">

    <div class="block">
        АдминистративныеДела
        <div class="input_name">Заполнил: <strong>{{.client.SecondName}} {{.client.Givenname}} {{.client.Initials}} </strong>
        <div class="input_name">{{(index .OspList (ЧислоВСтроку .client.OspCode)).OspName}} </div>

    </div>

    </div>

    <div class="block"> <h3>КАРТОЧКА "АДМИНИСТPАТИВНОЕ  ПРАВОНАРУШЕНИЕ"</h3></div>
    <form id="ad_form" action="сохранить карточку ап" class="io_form flex-row" onsubmit="console.log('аааа');WS.ОтправитьФорму(event, {форма:this, нелогировать:true})">
        <fieldset class="row border">
        <label for="IBD_ARX">
            <div class="input_name requir auto">Статус*</div>
            <select required name="IBD_ARX" id="IBD_ARX">
                {{  range $ид, $статус :=  $форма.статус  }}
                    <option value="{{$ид}}">{{ $статус }}</option>
                {{end}}
            </select>
        </label>
        <label for="VID_DOC">
            <div class="input_name requir auto">Вид документа*</div>
{{/*            <input list="VID_DOC_LIST" required type="text" name="VID_DOC" id="VID_DOC" value="{{ $данные_ад.VID_DOC }}">*/}}
{{/*            <datalist id="VID_DOC_LIST">*/}}
{{/*                <option value="1.Адм. протокол">1#Адм. протокол</option>*/}}
{{/*                <option value=""></option>*/}}
{{/*            </datalist>*/}}
            <select required name="VID_DOC" id="VID_DOC">
                {{  range $ид, $вид_документа :=  $форма.вид_документа  }}
                    <option value="{{$ид}}">{{ $вид_документа }}</option>
                {{end}}
            </select>
        </label>
         <label for="N_PROT">
            <div class="input_name requir auto">N документа*</div>
             <input required type="text" name="N_PROT" id="N_PROT" value="{{ $данные_ад.N_PROT }}">
        </label>
        <label for="N_BLANK">
            <div class="input_name requir auto">N бланка документа*</div>
             <input required type="text" name="N_BLANK" id="N_BLANK" value="{{ $данные_ад.N_PROT }}">
        </label>
        <label for="UIN">
            <div class="input_name auto">УИН</div>
             <input  type="text" name="UIN" id="UIN" value="">
        </label>
        <label for="KODRAI1_KOD">
            <div class="input_name requir auto">ОВД,выявивший правонарушение*</div>
{{/*            <input list="KODRAI1_KOD_LIST" required type="text" name="KODRAI1_KOD" id="KODRAI1_KOD" value="46#ФССП">*/}}
{{/*            <datalist id="KODRAI1_KOD_LIST">*/}}
{{/*                <option value="46#ФССП">46#ФССП</option>*/}}
{{/*                <option value=""></option>*/}}
{{/*            </datalist>*/}}
            <select required name="KODRAI1_KOD" id="KODRAI1_KOD">
                {{  range $ид, $овд_выявивший :=  $форма.овд_выявивший  }}
                    {{$выбрать := ""}}
                    {{ if eq $ид "46"}} {{$выбрать = "selected"}} {{end}}
                    <option {{$выбрать}} value="{{$ид}}">{{ $овд_выявивший }}</option>
                {{end}}
            </select>
        </label>
        </fieldset>
        <fieldset class="row border">
            <legend class="fieldset_legend">Вид правонар.:</legend>
            <div class="block flex-full red flex_align-center">
                По данным АИС ФССП Статья КОАП:
                <div>{{ $данные_ад.PR_VID }} Содержание {{ $данные_ад.PR_DESCR }}</div>
            </div>
            <label for="PR_VID1">
                <div class="input_name auto requir">Глава*</div>
{{/*                <input list="PR_VID1_LIST" required type="text" name="PR_VID1" id="PR_VID1" value="">*/}}
{{/*                <datalist id="PR_VID1_LIST">*/}}
{{/*                    <option value=""></option>*/}}
{{/*                    <option value=""></option>*/}}
{{/*                </datalist>*/}}
                <select required name="PR_VID1" id="PR_VID1" onchange="ПоказатьСкрытьСелектор(event)">
                    <option selected disabled value=''>Выберите главу</option>
                    {{range $ид, $глава :=  $форма.глава  }}
                        <option value="{{$ид}}">{{ $глава }}</option>
                    {{end}}
                </select>
            </label>
            <label for="PR_VID2">
                <div class="input_name auto requir">Статья*</div>

           <div id="article_wrapper">
            {{range $глава, $статьи :=  $форма.статья.статьи  }}
{{/*                    $глава {{$глава}} $статьи {{$статьи}}*/}}

                        <select  class="hiden" hidden="true"  name="PR_VID2" id="PR_VID2_{{$глава}}">
                            <option selected disabled value=''>Выберите статью</option>
                            {{range $ид, $статья :=  $статьи  }}
                                <option value="{{$ид}}">{{ $статья }}</option>
                            {{end}}
                        </select>

            {{end}}
           </div>




                {{/*                <select required name="PR_VID2" id="PR_VID2">*/}}
{{/*                    <option value="1"></option>*/}}
{{/*                </select>*/}}
            </label>
        </fieldset>
        <fieldset class=" border ">
        <label for="DATE_SOVER">
            <div class="input_name auto requir">Дата совершения нарушения*</div>
            <input required type="date" name="DATE_SOVER" id="DATE_SOVER" placeholder="" VALUE="{{ $данные_ад.DATE_SOVER  }}">
        </label>
        <label for="MESTO_SOVER">
            <div class="input_name auto requir">Место правонарушения*</div>
{{/*            <input list="MESTO_SOVER_LIST" required type="text" name="MESTO_SOVER" id="MESTO_SOVER" value="{{ $данные_ад.MESTO_SOVER  }}">*/}}
{{/*            <datalist id="MESTO_SOVER_LIST">*/}}
{{/*               {{range $ид, $место_преступления :=  $форма.место_преступления  }}*/}}
{{/*                  <option value="{{$ид}}">{{ $место_преступления }}</option>*/}}
{{/*               {{end}}*/}}
{{/*            </datalist>*/}}
            <select required name="MESTO_SOVER" id="MESTO_SOVER">
                <option selected disabled value=''>Выберите</option>
                                {{range $ид, $место_преступления :=  $форма.место_преступления  }}
                                    <option value="{{$ид}}">{{ $место_преступления }}</option>
                                {{end}}
            </select>


        </label>
        <label for="SLUGBA">
            <div class="input_name auto requir">Служба,выявившая правонарушение</div>
{{/*            <input list="SLUGBA_LIST" required type="text" name="SLUGBA" id="SLUGBA" value="{{ $данные_ад.SLUGBA  }}">*/}}
{{/*            <datalist id="SLUGBA_LIST">*/}}
{{/*                {{range $ид, $служба_выявившая :=  $форма.служба_выявившая  }}*/}}
{{/*                    <option value="{{$ид}}">{{ $служба_выявившая }}</option>*/}}
{{/*                {{end}}*/}}
{{/*            </datalist>*/}}
            <select required name="SLUGBA" id="SLUGBA">

                <option selected disabled value=''>Выберите службу*</option>
                {{range $ид, $служба_выявившая :=  $форма.служба_выявившая  }}
                    {{$выбрать := ""}}
                    {{ if eq $ид "52"}} {{$выбрать = "selected"}} {{end}}
                    <option {{$выбрать}} value="{{$ид}}">{{ $служба_выявившая }}</option>
                {{end}}
            </select>
        </label>
        <label for="SLUGBA_SOST">
            <div class="input_name auto requir">Служба,составившая адм.протокол*</div>
{{/*            <input list="SLUGBA_SOST_LIST"  type="text" name="SLUGBA_SOST" id="SLUGBA_SOST" value="">*/}}
{{/*            <datalist id="SLUGBA_SOST_LIST">*/}}
{{/*                {{range $ид, $служба_выявившая :=  $форма.служба_выявившая  }}*/}}
{{/*                    <option value="{{$ид}}">{{$служба_выявившая }}</option>*/}}
{{/*                {{end}}*/}}
{{/*            </datalist>*/}}
            <select required name="SLUGBA_SOST" id="SLUGBA_SOST">
                <option selected disabled value=''>Выберите</option>
                {{range $ид, $служба_выявившая :=  $форма.служба_выявившая  }}
                    {{$выбрать := ""}}
                    {{ if eq $ид "52"}} {{$выбрать = "selected"}} {{end}}
                    <option {{$выбрать}} value="{{$ид}}">{{ $служба_выявившая }}</option>
                {{end}}
            </select>
        </label>
        <label for="SOTR_SOST">
            <div class="input_name auto requir">Сотрудник,составивший адм.протокол*</div>
            <input required type="text" name="SOTR_SOST" id="SOTR_SOST" value="{{ $данные_ад.SOTR_SOST }}">
        </label>
</fieldset>


        <fieldset class="row border" >

            {{ $адрес_преступления := $данные_ад.SOTR_SOST }}

            <legend class="fieldset_legend">Адрес совершения правонарушения:</legend>
            <label for="RESP_SOVER">
                <div class="input_name auto">республика
                </div>
                <input list="RESP_SOVER_LIST"  type="text" name="RESP_SOVER" id="RESP_SOVER" value="">
                <datalist id="RESP_SOVER_LIST">
                    {{range  $республика :=  $форма.республика  }}
                        <option value="{{$республика}}">{{ $республика }}</option>
                    {{end}}
                </datalist>
            </label>
             <label for="KRAJ_SOVER">
                <div class="input_name auto requir">Край,область*</div>
                 <input required list="KRAJ_SOVER_LIST"  type="text" name="KRAJ_SOVER" id="KRAJ_SOVER" value="">
                 <datalist id="KRAJ_SOVER_LIST">
                     {{range  $край :=  $форма.край  }}
                         <option value="{{$край}}">{{ $край }}</option>
                     {{end}}
                 </datalist>
            </label>

             <label for="RAJON_SOVER">
                <div class="input_name auto requir">Район (совершения)*</div>
                 <input required list="RAJON_SOVER_LIST"  type="text" name="RAJON_SOVER" id="RAJON_SOVER" value="">
                 <datalist id="RAJON_SOVER_LIST">
                     {{range  $район :=  $форма.район  }}
                         <option value="{{$район}}">{{ $район }}</option>
                     {{end}}
                 </datalist>
            </label>

             <label for="KW_PUNKT_SOVER">
                <div  class="input_name auto requir">Населенный пункт (совершения)*</div>
                 <input required list="KW_PUNKT_SOVER_LIST"  type="text" name="KW_PUNKT_SOVER" id="KW_PUNKT_SOVER" value="">
                 <datalist id="KW_PUNKT_SOVER_LIST">
                     {{range  $нас_пункт :=  $форма.нас_пункт  }}
                         <option value="{{$нас_пункт}}">{{ $нас_пункт }}</option>
                     {{end}}
                 </datalist>
            </label>
             <label for="POS_IN_GOROD_SOVER">
                <div class="input_name auto">Поселок внутри города</div>
                 <input  type="text" name="POS_IN_GOROD_SOVER" id="POS_IN_GOROD_SOVER" value="">
            </label>
             <label for="MICK_RN_SOVER">
                <div class="input_name auto">Микрорайон</div>
                <input type="text" name="MICK_RN_SOVER" id="MICK_RN_SOVER" value="">

            </label>
             <label for="ULICA_SOVER">
                <div class="input_name auto requir">Улица*</div>
                 <input required list="ULICA_SOVER_LIST"  type="text" name="ULICA_SOVER" id="ULICA_SOVER" value="">
                 <datalist id="ULICA_SOVER_LIST">
                     {{range  $улица :=  $форма.улица  }}
                         <option value="{{$улица}}">{{ $улица }}</option>
                     {{end}}
                 </datalist>
            </label>
            <label for="N_DOM_SOVER">
                <div class="input_name auto requir">Номер дома*</div>
                <input required type="number"  name="N_DOM_SOVER" id="N_DOM_SOVER" placeholder="">
            </label>
            <label for="KORPUS_SOVER">
                <div class="input_name auto">Корпус</div>
                <input type="text"  name="KORPUS_SOVER" id="KORPUS_SOVER" placeholder="">
            </label>
            <label for="KW_SOVER">
                <div class="input_name auto">Квартира</div>
                <input type="number" name="KW_SOVER" id="KW_SOVER" placeholder="">
            </label>
        </fieldset>


        <fieldset class="row border">
            <legend class="fieldset_legend">Сведения об АМТ (гл. 12)</legend>
            <label for="NOMER">
                <div class="input_name auto">Гос номер</div>
                <input type="text" name="NOMER" id="NOMER" placeholder="">
            </label>
            <label for="REGION">
                <div class="input_name auto">Регион</div>
                <input type="text" name="REGION" id="REGION" placeholder="">
            </label>
            <label for="MODEL">
                <div class="input_name auto">Модель</div>
                <input type="text" name="MODEL" id="MODEL" placeholder="">
            </label>
            <label for="N_UDOST">
                <div class="input_name auto">Номер водительского удостоверения</div>
                <input type="text" name="N_UDOST" id="N_UDOST" placeholder="">
            </label>
        </fieldset>

        <fieldset class="border">
            <label for="AREA_SOVER" class="center">
                <div class="input_name auto requir">№ АДМИНИСТРАТИВНОГО УЧАСТКА МЕСТА СОВЕРШЕНИЯ*</div>
                <input required type="number" name="AREA_SOVER" id="AREA_SOVER" placeholder="">
            </label>
            <label for="NAIM">
                <div class="input_name auto requir">Наименование лица*</div>
                <input list="NAIM_LIST"  type="text" name="NAIM" id="NAIM" value="{{ $данные_ад.OFFENDER_TYPE}}">
                <datalist id="NAIM_LIST">
                    {{range $n,  $наименования_лица :=  $форма.наименования_лица  }}
                        <option value="{{$наименования_лица}}">{{ $наименования_лица }}</option>
                    {{end}}
                </datalist>
            </label>
             <div class="flex-row">
                {{ $должник := РазбитьСтроку $данные_ад.OFFENDER_NAME " " }}
            <label for="FAM">
                <div class="input_name auto requir">Фамилия*</div>
                <input required type="text" name="FAM" id="FAM"  value="{{ index $должник 0 }}">
            </label>
            <label for="IMJ">
                <div class="input_name auto requir">Имя*</div>
                <input required type="text" name="IMJ" id="IMJ" value="{{ index $должник 1 }}">
            </label>
            <label for="OTCH">
                <div class="input_name auto requir">Отчество*</div>
                <input required type="text" name="OTCH" id="OTCH" value="{{ index $должник 2 }}">
            </label>
            </div>


            <div class="flex-row">
                <label for="DATE_ROJD">
                    <div class="input_name auto requir">Дата рождения*</div>

                    <input required type="date" name="DATE_ROJD" id="DATE_ROJD" value="{{ $данные_ад.DATE_ROJD}}">
                </label>
            <label for="GRAJDAN">
                <div class="input_name auto requir">Гражданство*</div>
                <input required list="GRAJDAN_LIST" type="text" name="GRAJDAN" id="GRAJDAN" value ="{{ $данные_ад.GRAJDAN }}">
                <datalist id="GRAJDAN_LIST">
{{/*                <select required name="GRAJDAN" id="GRAJDAN">*/}}
                    {{range  $гражданство :=  $форма.гражданство  }}
                        <option value="{{$гражданство}}">{{ $гражданство }}</option>
                    {{end}}
{{/*                </select>*/}}
                </datalist>
            </label>
            <label for="DOLJN">
                <div class="input_name auto requir">Должность*</div>
                <input required type="text" name="DOLJN" id="DOLJN" placeholder="" value="{{$данные_ад.DOLJN}}">
            </label>
            <label for="KATEG">
                <div class="input_name auto requir">Категория*</div>
{{/*                <input required list="KATEG" type="text" name="KATEG" id="KATEG" placeholder="">*/}}
{{/*                <datalist id="KATEG_LIST">*/}}
{{/*                    {{range  $гражданство :=  $форма.гражданство  }}*/}}
{{/*                        <option value="{{$гражданство}}">{{ $гражданство }}</option>*/}}
{{/*                    {{end}}*/}}
{{/*                </datalist>*/}}
                <select required name="KATEG" id="KATEG">
                    {{range $ид, $категория :=  $форма.категория  }}
                        <option value="{{$ид}}">{{ $категория }}</option>
                    {{end}}
                </select>
            </label>
            </div>
        </fieldset>
        <fieldset class="row border ">

            {{ $адрес_преступника := РазбитьСтроку $данные_ад.OFFENDER_ADR "," }}
{{/*            - инекс,страна,регион/край, район, город, нас пункт, улица, длм, корпус, квартира*/}}

            <legend class="fieldset_legend">Регистрация по месту жительства:</legend>

            <div class="block flex-full red flex_align-center">
                По данным АИС ФССП адрес регистрации, сверьте с заполенными полями, при необходимости откорректируйте:
                <div>{{ $данные_ад.OFFENDER_ADR }}</div>
            </div>

            <label for="RESP">
                <div class="input_name auto requir">Республика</div>

                <input required list="RESP_LIST"  type="text" name="RESP" id="RESP" value="{{ index $адрес_преступника 1 }}">
                <datalist id="RESP_LIST">
                    {{range  $республика :=  $форма.республика  }}
                        <option value="{{$республика}}">{{ $республика }}</option>
                    {{end}}
                </datalist>


            </label>
            <label for="KRAJ">
                <div class="input_name auto requir">Край(область)*</div>
                <input required list="KRAJ_LIST" type="text" name="KRAJ" id="KRAJ" value="{{if gt (len (index $адрес_преступника 2)) 3 }}{{index $адрес_преступника 2}}{{end}}">
                <datalist id="KRAJ_LIST">
                    {{range  $край :=  $форма.край  }}
                        <option value="{{$край}}">{{ $край }}</option>
                    {{end}}
                </datalist>
            </label>
            <label for="RAJON">
                <div class="input_name auto requir">Район*</div>
                <input  required list="RAJON_LIST" type="text" name="RAJON" id="RAJON" value="{{if gt (len (index $адрес_преступника 3)) 3 }}{{index $адрес_преступника 3}}{{end}}">
                <datalist id="RAJON_LIST">
                    {{range  $район :=  $форма.район  }}
                        <option value="{{$район}}">{{ $район }}</option>
                    {{end}}
                </datalist>
            </label>
            <label for="KW_PUNKT">
                <div class="input_name auto requir">Нас.пункт*</div>
                <input required  list="KW_PUNKT_LIST" type="text" name="KW_PUNKT" id="KW_PUNKT" value="{{if gt (len (index $адрес_преступника 4)) 3 }}{{index $адрес_преступника 4}}{{end}}">
                <datalist id="KW_PUNKT_LIST">
                    {{range  $нас_пункт :=  $форма.нас_пункт  }}
                        <option value="{{$нас_пункт}}">{{ $нас_пункт }}</option>
                    {{end}}
                </datalist>
            </label>
            <label for="POS_IN_GOROD">
                <div class="input_name auto">Поселок внутри города</div>
                <input  type="text" name="POS_IN_GOROD" id="POS_IN_GOROD" placeholder="">
            </label>
            <label for="MICK_RN">
                <div class="input_name auto">Микрорайон</div>
                <input type="text" name="MICK_RN" id="MICK_RN" placeholder="">

            </label>

            <label for="ULICA">
                <div class="input_name auto">Улица</div>
                <input  list="ULICA_LIST" type="text" name="ULICA" id="ULICA" value="{{if gt (len $адрес_преступника) 6}} {{if gt (len (index $адрес_преступника 6)) 3 }}{{index $адрес_преступника 6}}{{end}}{{end}}">
                <datalist id="ULICA_LIST">
                    {{range  $улица :=  $форма.улица  }}
                        <option value="{{$улица}}">{{ $улица }}</option>
                    {{end}}
                </datalist>
            </label>
            <label for="N_DOM">
                {{ $N_DOM:="" }}

                {{ if gt (len $адрес_преступника) 7 }}
                    {{ $N_DOM = (РазбитьСтроку (index $адрес_преступника 7) " ") }}

                    {{if gt (len $N_DOM) 2 }}
                         {{ $N_DOM = index $N_DOM 2 }}
                    {{else}}

                            {{ if eq (len $N_DOM) 1 }}
                                {{ $N_DOM = index $N_DOM 0 }}
                           {{else if eq (len $N_DOM) 2}}
                                {{ $N_DOM = index $N_DOM 1 }}
                           {{end}}

                    {{end}}
                {{end}}
                <div class="input_name auto">Дом</div>
                <input type="text" name="N_DOM" id="N_DOM" value="{{ $N_DOM }}">

            </label>
            <label for="KORPUS">
                <div class="input_name auto">корпус</div>
                <input type="text" name="KORPUS" id="KORPUS" value="{{ if gt (len $адрес_преступника) 8 }}{{ index $адрес_преступника 8 }} {{end}}">

            </label>
            <label for="KW">
                <div class="input_name auto">Кв</div>
                {{ $kw:="" }}
                {{ if gt (len $адрес_преступника) 9 }}
                    {{ $kw = (РазбитьСтроку (index $адрес_преступника 9) " ") }}
{{/*                    {{ $kw = index $kw 2 }}*/}}
                    {{if gt (len $kw) 2 }}
                        {{ $kw = index $kw 2 }}
                    {{else}}
                        {{ if eq (len $kw) 1 }}
                            {{ $kw = index $kw 0 }}
                        {{else if eq (len $kw) 2}}
                            {{ $kw = index $kw 1 }}
                        {{else if eq (len $kw) 0}}
                            {{ $kw = "" }}
                        {{end}}
                    {{end}}


                 {{end}}
                <input type="text" name="KW" id="KW" value="{{ $kw }}">

            </label>
            <label for="AREA">
                <div class="input_name auto">Административный участок</div>
                <input  type="text" name="AREA" id="AREA" value="">

            </label>
            <fieldset class="row border">
                <legend class="fieldset_legend">
                    Паспорт
                </legend>
                <label for="PSP_S">
                    <div class="input_name auto">серия</div>
                    <input type="text" name="PSP_S" id="PSP_S" value="{{ $данные_ад.PSP_S }}">
                </label>
                <label for="PSP_N">
                    <div class="input_name auto">№</div>
                    <input type="text" name="PSP_N" id="PSP_N" value="{{ $данные_ад.PSP_N }}">
                </label>
                <label for="DATE_PSP">
                    <div class="input_name auto">Дата выдачи</div>
                    <input type="date" name="DATE_PSP" id="DATE_PSP" value="{{ $данные_ад.DATE_PSP }}">
                </label>
                <label for="VYDAN">
                    <div class="input_name auto">Выдан</div>
                    <input type="text" name="VYDAN" id="VYDAN" value="{{ $данные_ад.VYDAN }}">
                </label>
            </fieldset>
            <fieldset class="border">
                <label for="KODRAI1_RESH">
                    <div class="input_name auto requir">ОВД,принявший решение (куда передано)*</div>
{{/*                    <input list="KODRAI1_RESH_LIST" type="text" name="KODRAI1_RESH" id="KODRAI1_RESH" value="">*/}}
{{/*                    <datalist id="KODRAI1_RESH_LIST">*/}}
{{/*                        <option value="1">1#ССП</option>*/}}
{{/*                    </datalist>*/}}

                    <select required name="KODRAI1_RESH" id="KODRAI1_RESH">
                        <option selected disabled value="">Выберите</option>
                        {{  range $ид, $овд_принявшее :=  $форма.овд_принявшее  }}
                            <option value="{{$ид}}">{{ $овд_принявшее }}</option>
                        {{end}}
                    </select>
                </label>
                <label for="ORG_RESH">
                    <div class="input_name auto requir">Орган вынесший постановление*</div>
                    <select required name="ORG_RESH" id="ORG_RESH">
                        <option selected disabled value="">Выберите</option>
                        {{  range $ид, $орган_вынесший :=  $форма.орган_вынесший  }}
                            <option value="{{$ид}}">{{ $орган_вынесший }}</option>
                        {{end}}
                    </select>
{{/*                    <input list="ORG_RESH_LIST" type="text" name="ORG_RESH" id="ORG_RESH" value="">*/}}
{{/*                    <datalist id="ORG_RESH_LIST">*/}}
{{/*                        <option value="1">1#ССП</option>*/}}
{{/*                    </datalist>*/}}
                </label>
                <label for="N_POST">
                    <div class="input_name auto">N постановления, квитанции</div>
                    <input type="text" name="N_POST" id="N_POST" value="">

                </label>
                <label for="DATE_RESH">
                    <div class="input_name auto">Дата вынесения постановления</div>
                    <input type="date" name="DATE_RESH" id="DATE_RESH" value="{{ $данные_ад.DATE_RESH }}">

                </label>
                <fieldset class="row">



                <label for="MERA_NAK" >
                    <div class="input_name auto requir">Мера наказания*</div>
                    <div class="flex-col">
                    <div class="note red">
                        По данным АИС ФССП: {{ $данные_ад.MERA_NAK }}
                    </div>
{{/*                    <input list="MERA_NAK_LIST" type="text" name="MERA_NAK" id="MERA_NAK" value="{{ $данные_ад.MERA_NAK }}">*/}}
{{/*                    <datalist id="MERA_NAK_LIST">*/}}
{{/*                        <option value="1">1#ССП</option>*/}}
{{/*                    </datalist>*/}}

                    <select required name="ORG_RESH" id="ORG_RESH">
                        <option selected disabled>Выберите меру наказания</option>
                        {{  range $ид, $наказание :=  $форма.мера_наказания  }}
                            <option value="{{$ид}}">{{ $наказание }}</option>
                        {{end}}
                    </select>
                    </div>
                </label>
                <label for="RAZ_NAK">
                    <div class="input_name auto">Штраф</div>
                    <input type="number" name="RAZ_NAK" id="RAZ_NAK" value="{{ $данные_ад.RAZ_NAK }}"> руб.

                </label>
                <label for="AREST">
                    <div class="input_name auto">Арест(сут) / обязательные работы(час.)</div>
                    <input  type="number" name="AREST" id="AREST" value="{{ $данные_ад.AREST }}">

                </label>
                </fieldset>
            </fieldset>
        </fieldset>
        <label for="FABULA">
            <div class="input_name auto">Фабула правонарушения</div>
            <textarea name="FABULA" id="FABULA" cols="30" rows="10">{{ $данные_ад.FABULA }}</textarea>
        </label>

        <input type="text" class="inviz" readonly name="USER" id="USER" placeholder="" value="{{.client.Login}}">
        <input type="text" class="inviz" readonly name="OSP" id="OSP" placeholder="" value="{{.client.OspCode}}">

        <button form="ad_form" class="io" type="submit">Сохранить</button>
    </form>

    </div>
{{end}}
 {{end}}
