{{define "ГенераторТаблицДетализации"}}
    <div class="stat_table flex-full flex-col flex_align-center nowrap" id="">
{{/*    {{ $Данные := ""}}*/}}

{{/*        {{ if not .data.данные.данные}}*/}}
{{/*            {{ $Данные = .data}}*/}}
{{/*            {{else}}*/}}
{{/*            {{ $Данные = .data.данные}}*/}}
{{/*        {{end}}*/}}
{{/*        {{ (index $Данные.данные 1)}}*/}}


{{ $ИДСтолбцов := (index .data.данные 0).столбцы  }}
{{ $ИменаПоля := (index (index .data.поля_сф "26000").МассивСтрок 0).FIELDS_JSON }}
{{ $Таблица:= (index .data.данные 0).детали }}
{{ $Имя := "" }}
 {{$СтрокиТаблицы := ""}}

 {{$THead := "<tr>"}}
    {{ range $ИД, $Имя :=  $ИДСтолбцов}}
        {{$ИмяСтолбца := index $ИменаПоля $Имя}}
         {{ if not $ИмяСтолбца }}

             {{$THead = Строка $THead "<th>" $Имя "</th>"}}
             {{else}}
             {{$THead = Строка $THead "<th>" $ИмяСтолбца "</th>"}}

        {{end}}
   {{end}}
    {{$THead = Строка $THead "</tr>"}}

        {{ range $ИмяТаблицы, $Строки := $Таблица}}
            {{ $Имя = $ИмяТаблицы}}
            {{ range $N, $Строка := $Строки}}
                {{$ЯчейкаТаблицы := ""}}

                {{ range $ИД, $Имя :=  $ИДСтолбцов}}
                    {{ $ЯчейкаТаблицы = Строка $ЯчейкаТаблицы "<td>" (index $Строка $Имя) "</td>"}}
                {{end}}
                {{$СтрокиТаблицы = Строка $СтрокиТаблицы "<tr>" $ЯчейкаТаблицы "</tr>"}}
            {{end}}
        {{end}}
    <table class="io_table">
        <caption>{{$Имя}}</caption>
        <thead>
         {{ СтрокуВHTML $THead nil}}
        </thead>
        <tbody>
            {{ СтрокуВHTML $СтрокиТаблицы nil}}
        </tbody>
    </table>
    </div>
{{end}}