{{define "ГенераторТаблицСДанными"}}
    <div class="stat_table flex-full flex-col flex_align-center nowrap note" id="stat_table_fssp">


{{/*        [map[таблица:map[108:map[-20:ИП, перспективные для составления протокола по ч. 1 ст. 20.25 КоАП РФ -621:Подбор ИП о взыскании алиментов, перспективных для привлечения должников к административной ответственности по ст. 5.35.1 КоАП] имя_таблицы:стат ад]]]*/}}

        {{ $TBody := "" }}
        {{ $Thead := "<tr  data-details_arguments='cf_id'>" }}
        {{ $Thead = Строка $Thead "<th id='osp_code' > ОСП </th>"}}
        {{$таблица := ""}}
        {{if  .data.стат_таблица }}
            {{ if gt (len .data.стат_таблица) 0}}
                {{ $таблица = (index .data.стат_таблица 0) }}
            {{end}}
         {{end}}
        {{$ИмяТаблицы := "" }}
        {{$Данные:=""}}
        {{$ДатаСбора:=""}}
        {{ $НетДанных := ""}}

        {{ if .data.стат_данные }}
            {{if gt (len .data.стат_данные) 0 }}
                {{ $Данные = (index .data.стат_данные 0).данные }}
                {{ $ДатаСбора  = (index .data.стат_данные 0).дата }}
            {{end}}
         {{else}}
            {{if .data.стат_таблица}}
                {{ if and (gt (len .data.стат_таблица) 0) (index .data.стат_таблица 0).данные .data.стат_таблица }}
                    {{ if  gt (len (index .data.стат_таблица 0).данные ) 0}}
                        {{ $Данные = (index .data.стат_таблица 0).данные }}
                        {{ $ДатаСбора  = (index .data.стат_таблица 0).дата }}
                    {{end}}
                {{end}}
            {{end}}
        {{end}}

{{/*        {{if gt (len .data.стат_данные) 0 }}*/}}
{{/*            {{ $Данные = (index .data.стат_данные 0).данные }}*/}}
{{/*            {{ $ДатаСбора  = (index .data.стат_данные 0).дата }}*/}}
{{/*         */}}
{{/*        {{end}}*/}}

{{$Ид_Таблицы:=""}}

{{$Строка := ""}}


{{if  $таблица }}
{{/*{{ range $ИдТаблицы , $ДанныеТаблицы := $таблица  }}*/}}

{{/*{{$ДанныеТаблицы}}*/}}

    {{$Ид_Таблицы = $таблица.ид_таблицы}}
    {{ $ИмяТаблицы = $таблица.имя_таблицы}}
    {{range $ИдСтолбца, $ДанныеСтолбца := $таблица.столбцы}}
        {{ $HTMLАргументы := ""}}
        {{ if ne (not $ДанныеСтолбца.аргументы) true}}
        {{ if  gt (len $ДанныеСтолбца.аргументы) 0}}
            {{ range $n, $ГруппаАргументов :=  $ДанныеСтолбца.аргументы }}



                {{ if eq (Тип $ГруппаАргументов) "[]interface {}"}}
                    {{$HTMLАргументы = Строка $HTMLАргументы  "<fieldset class='flex-row left'>"}}
                    {{ range $x, $Аргументы :=  $ГруппаАргументов }}
                        {{$HTMLАргументы = Строка $HTMLАргументы  "<div class='flex-row'> <label for='id_" $Аргументы.идентификатор "'>"}}
                        {{$HTMLАргументы = Строка $HTMLАргументы  "<div  class='input_name auto'>" $Аргументы.имя_аргумента "</div>"}}
                        {{$HTMLАргументы = Строка $HTMLАргументы  "<input form='refresh_data' id='id_" $Аргументы.идентификатор "' type='" $Аргументы.тип "' name='" $Аргументы.идентификатор "' value=''></label></div>"}}
                    {{end}}
                    {{$HTMLАргументы = Строка $HTMLАргументы  " </fieldset>"}}
                {{else if eq (Тип $ГруппаАргументов) "map[string]interface {}"}}
                    {{$HTMLАргументы = Строка $HTMLАргументы  "<fieldset class='flex-row left'>"}}
                    {{$HTMLАргументы = Строка $HTMLАргументы  "<div class='flex-row'> <label for='id_" $ГруппаАргументов.идентификатор "'>"}}
                    {{$HTMLАргументы = Строка $HTMLАргументы  "<div  class='input_name auto'>" $ГруппаАргументов.имя_аргумента "</div>"}}
                    {{$HTMLАргументы = Строка $HTMLАргументы  "<input form='refresh_data' id='id_" $ГруппаАргументов.идентификатор "' type='" $ГруппаАргументов.тип "' name='" $ГруппаАргументов.идентификатор "' value=''></label></div>"}}
                    {{$HTMLАргументы = Строка $HTMLАргументы  " </fieldset>"}}
                {{end}}
                </fieldset>
           {{end}}
        {{end}}


            {{$Thead = Строка $Thead "<th data-sql_id='" $ИдСтолбца "' id= '" $ИдСтолбца "'>" $ДанныеСтолбца.имя_столбца "<div class='flex-row'>" $HTMLАргументы "</div></th>"}}

         {{else}}
        {{$Thead = Строка $Thead "<th data-sql_id='" $ИдСтолбца "' id= '" $ИдСтолбца "'>" $ДанныеСтолбца.имя_столбца  "</th>"}}

       {{end}}

{{/* {{end}}*/}}
{{end}}


    {{if gt (len $Данные) 0}}
        {{ range  $КодОСП, $СтрокаДанных := $Данные}}

            {{$Строка = Строка $Строка "<tr data-osp_code='" $КодОСП "' id='osp_" $КодОСП "'>" "<td>" (index $.OspList $КодОСП).OspName "</td>" }}

                {{range $ИдСтолбца, $ИмяСтолбца := $таблица.столбцы}}
{{/*                    {{$Строка = Строка $Строка "<td id='cf." $ИдСтолбца ".osp." $КодОСП ".table_id." $Ид_Таблицы "'>"}}*/}}
                    {{$ЗначениеЯчейки :=""}}
                    {{$КлассЯчейки := ""}}
    {{$СтрокаДанных}}
                    {{if (index $СтрокаДанных $ИдСтолбца)}}
                        {{$ДанныеСтроки := (index $СтрокаДанных $ИдСтолбца)}}
                            {{if $ДанныеСтроки.Количество}}
                                {{$ЗначениеЯчейки = $ДанныеСтроки.Количество}}
                            {{end}}
                            {{$ДанныеСтроки.Детализация}}

                            {{ if $ДанныеСтроки.Детализация}}
                                {{if eq $ДанныеСтроки.Детализация  "0" }}
                                    {{$КлассЯчейки = "class='nodetails'"}}
                               {{else if eq $ДанныеСтроки.Детализация  "1"}}
                                    {{$КлассЯчейки = "class='details'"}}
                            {{end}}
                   {{end}}
                {{end}}
                    {{$Строка = Строка $Строка "<td " $КлассЯчейки " id='cf." $ИдСтолбца ".osp." $КодОСП ".table_id." $Ид_Таблицы "'>" $ЗначениеЯчейки "</td>"}}
       {{end}}
                {{$Строка = Строка $Строка "</tr>"}}
        {{end}}
    {{end}}
{{end}}

{{ $Thead = Строка $Thead "</tr>" }}

        <form action="обновить данные стат. таблицы" id="refresh_data" onsubmit="WS.ОтправитьФорму(event)">
            <input class="inviz" readonly type="text" name="ид" value="{{$Ид_Таблицы}}">
            <button class="io" type="submit">Обновить данные</button>
        </form>


        <table id="data_{{$Ид_Таблицы}}" data-action="детализация по стат. данным"  onclick="WS.ПоказатьДетализацию(event)" data-date="{{$ДатаСбора}}" data-table_id="{{$Ид_Таблицы}}" class="io_table">
            <caption>
                {{$ИмяТаблицы}} от {{ParseTime $ДатаСбора}}
            </caption>
            <thead>
                {{СтрокуВHTML $Thead nil}}
            </thead>
            <tbody>
                {{СтрокуВHTML $Строка nil}}
            </tbody>
        </table>


    </div>

{{end}}