{{define "КарточкаАП"}}<?xml version="1.0" encoding="UTF-8"?>
    <job doc="F360" nfile="{{(index .data.данные_ад 0).osp}}{{(index .data.данные_ад 0).id}}" datform="{{ДатаФормыАП (index .data.данные_ад 0).date}}" datcome="" subject="* Адм. правонарушения - нов." to="a000001" to_desc="" maxrec="300" attachment="" realname="" oper="ins" sost="new" jr="">
        <request>
            <DOC_F360 num="1">{{range $имя, $значение := index .data.данные_ад 0}}
                {{ if ne (not $значение) true }}{{if or (ne (Заглавные $имя) "OSP") (ne (Заглавные $имя) "FILE") (ne (Заглавные $имя)  "LOGIN") (ne (Заглавные $имя) "DATE") (ne (Заглавные $имя) "ID")}}
                         <{{Заглавные $имя}}> {{if eq (Тип $значение) "int"}}{{$значение}}{{else}}{{Заглавные $значение}}{{end}}</{{Заглавные $имя}}>{{end}}{{end}}{{end}}
            </DOC_F360>
        </request>
    </job>
{{end}}