{{define "КонтрольЖалоб"}}
    <div class="sql_list" id="control_treatment">


        <button onclick="WS.ОтправитьСообщениеИО('обновить статистику жалоб', null, true)">Обновить данные</button>


{{/*        <div class="note">*/}}
{{/*           К заявлениям которые находятся на рассмотрении/нерассмотрены относятся те у которых статус*/}}
{{/*           <ul>*/}}
{{/*               <li>1-Новый</li>*/}}
{{/*               <li>2-Зарегистрирован</li>*/}}
{{/*               <li>5-Утвержден</li>*/}}
{{/*               <li>185-К исполнению</li>*/}}

{{/*           </ul>*/}}
{{/*            К заявлениям которые рассмотрены относятся те у которых статус*/}}
{{/*            <ul>*/}}
{{/*                <li> 7-Отказано</li>*/}}
{{/*                <li>10-Отправлен</li>*/}}
{{/*                <li>10-Рассмотрено по существу</li>*/}}
{{/*                <li>10-Утвержден</li>*/}}
{{/*                <li>11-Даны разъяснения</li>*/}}
{{/*                <li>11-Проект документа</li>*/}}
{{/*                <li> 12-Не приняты к рассмотрению</li>*/}}
{{/*                <li>19-Вынесено поручение</li>*/}}
{{/*                <li>19-Загружен</li>*/}}
{{/*                <li>19-Удовлетворено</li>*/}}
{{/*                <li>20-Ответ отправлен</li>*/}}
{{/*                <li>70-Признана обоснованной</li>*/}}
{{/*                <li>71-Отказан</li>*/}}
{{/*                <li>81-Отозвана</li>*/}}
{{/*                <li>81-Отозвано</li>*/}}
{{/*                <li>160-Отправляется</li>*/}}
{{/*                <li>161-Отправлен</li>*/}}
{{/*            </ul>*/}}
{{/*            К Рассмотренным с нарушением срока относятся обращения на статусах (7,10,11,12,19,20,70,71,81,161,160) и дата последнего изменения больше чем дата "Срок исполнения"*/}}
{{/*            <br>*/}}
{{/*            К обращениям срок рассмотрения которых истёк относятся те у которых статуы (1,2,185,5) и дата "Срок исполнения" меньше чем сеголняшняя дата*/}}
{{/*            <br>*/}}
{{/*            К некачественно рассмотренным относятся обращения у которых в поле Принятое решение по обращению(O_OTHER_DOC_CONTENT) меньше или равно 20 символов, или нет дкумента с ответом*/}}
{{/*            <p>*/}}
{{/*                Вопросы/правки по витрине: +79880970078, Александр.*/}}
{{/*            </p>*/}}
{{/*        </div>*/}}


{{range $Строка, $Данные := .data.статистика_обращений}}
        <table class="io_table" id="OSP.{{$Данные.осп}}" data-osp_code="{{$Данные.осп}}" onclick="WS.ПоказатьДетализацию(event)">
            <caption>
               Обращения поступившие в {{$Данные.osp_name}}
            </caption>
            <thead>
            <tr>
                <th rowspan="3">Тип документы</th>
                <th  rowspan="3">Всего поступило на рассмотрение обращений</th>
                <th colspan="8">
                    Количество обращений/заявлений/жалоб, срок рассмотрения которых больше или равен {{СегодняДата}}
                </th><th colspan="15">
                    Количество обращений/заявлений/жалоб, срок рассмотрения которых истек (срок исполнения меньше {{СегодняДата}})
                </th>
            </tr>
                <tr>

                    <th colspan="2">Всего </th>
                    <th colspan="2">из них посредством личного кабинета стороны исполнительного производства (FSSPRUS.RU) </th>
                    <th colspan="2">Рассмотренно в срок</th>
                    <th colspan="2">Не качественно рассмотрено</th>
                    <th colspan="6">Всего</th>
                    <th colspan="6">из них посредством личного кабинета стороны исполнительного производства (FSSPRUS.RU)</th>
                    <th colspan="3">Не качественно рассмотрено</th>

                </tr>
            <tr class="" >
                <th>Количество заявлений на рассмотрении </th>
                <th>% </th>
                <th>Количество заявлений на рассмотрении</th>
                <th>%</th>
                <th>Количество рассмотренных заявлений</th>
                <th>%</th>
                <th>Количество рассмотренных заявлений</th>
                <th>%</th>
                <th>Количество не рассмотренных заявлений</th>
                <th>%</th>
                <th>Динамика (-/+)</th>
                <th>Количество рассмотренных с нарушением срока</th>
                <th>%</th>
                <th>Динамика (-/+)</th>
                <th>Количество не рассмотренных заявлений</th>
                <th>%</th>
                <th>Динамика (-/+)</th>
                <th>Количество рассмотренных с нарушением срока</th>
                <th>%</th>
                <th>Динамика (-/+)</th>
                <th>Количество рассмотренных с нарушением срока</th>
                <th>%</th>
                <th>Динамика (-/+)</th>

            </tr>
            <tr data-details_arguments="sql_id.where">
                <th>1</th>
                <th data-sql_id="76"  data-where="всего_обращений">2</th>
                <th data-sql_id="76"  data-where="всего_на_рассмотрении">3</th>
                <th>4</th>
                <th data-sql_id="76"  data-where="на_рассмотрении_fssprus">5</th>
                <th>6</th>
                <th data-sql_id="76"  data-where="рассмотрено_в_срок">7</th>
                <th>8</th>
                <th data-sql_id="76" data-where="не_качествено_всрок">9</th>
                <th>10</th>
                <th data-sql_id="76"  data-where="не_рассмотрено_срок_нарушен">11</th>
                <th>12</th>
                <th>13</th>
                <th data-sql_id="76"  data-where="рассмотрено_с_нарушением_срока">14</th>
                <th>15</th>
                <th>16</th>
                <th data-sql_id="76"  data-where="не_рассмотрено_срок_нарушен_fssprus">17</th>
                <th>18</th>
                <th>19</th>
                <th data-sql_id="76"  data-where="рассмотрено_с_нарушением_срока_fsspr">20</th>
                <th>21</th>
                <th >22</th>
                <th data-sql_id="76"  data-where="не_качественно_просрочено">23</th>
                <th>24</th>
                <th>25</th>
            </tr>
            </thead>
            <tbody>
           <tr data-doc_type="АЖ">
               {{with $АЖ := index $Данные.статистика "Административные жалобы"}}
               <th>Административные жалобы</th>
               <td>{{$АЖ.всего_обращений}}</td>
               <td>{{$АЖ.на_рассмотрении}}</td>
               <td>{{$АЖ.пр_на_рассмотрении}}</td>
               <td>{{$АЖ.на_рассмотрении_fssprus}}</td>
               <td>{{$АЖ.пр_на_рассмотрении_fssprus}}</td>
               <td>{{$АЖ.рассмотрено_в_срок}}</td>
               <td>{{$АЖ.пр_рассмотрено_в_срок}}</td>
               <td>{{$АЖ.не_качествено_всрок}}</td>
               <td>{{$АЖ.пр_не_качествено_всрок}}</td>
               <td>{{$АЖ.не_рассмотрено_срок_нарушен}} </td>
               <td>{{$АЖ.пр_не_рассмотрено_срок_нарушен}}</td>
               <td>{{$АЖ.д_не_рассмотрено_срок_нарушен}}</td>
               <td>{{$АЖ.рассмотрено_с_нарушением_срока}}</td>
               <td>{{$АЖ.пр_рассмотрено_с_нарушением_срока}}</td>
               <td>{{$АЖ.д_рассмотрено_с_нарушением_срока}}</td>
               <td>{{$АЖ.не_рассмотрено_срок_нарушен_fssprus}}</td>
               <td>{{$АЖ.пр_не_рассмотрено_срок_нарушен_fssprus}}</td>
               <td>{{$АЖ.д_не_рассмотрено_срок_нарушен_fssprus}}</td>
               <td>{{$АЖ.рассмотрено_с_нарушением_срока_fsspr}}</td>
               <td>{{$АЖ.пр_рассмотрено_с_нарушением_срока_fsspr}}</td>
               <td>{{$АЖ.д_рассмотрено_с_нарушением_срока_fsspr}}</td>
               <td>{{$АЖ.не_качественно_просрочено}}</td>
               <td>{{$АЖ.пр_не_качественно_просрочено}}</td>
               <td>{{$АЖ.д_не_качественно_просрочено}}</td>
               {{end}}
           </tr>
           <tr data-doc_type="ОГ">
               {{with $ОГ := index $Данные.статистика "Обращения граждан"}}
                   <th>Обращения граждан</th>
                   <td>{{$ОГ.всего_обращений}}</td>
                   <td>{{$ОГ.на_рассмотрении}}</td>
                   <td>{{$ОГ.пр_на_рассмотрении}}</td>
                   <td>{{$ОГ.на_рассмотрении_fssprus}}</td>
                   <td>{{$ОГ.пр_на_рассмотрении_fssprus}}</td>
                   <td>{{$ОГ.рассмотрено_в_срок}}</td>
                   <td>{{$ОГ.пр_рассмотрено_в_срок}}</td>
                   <td>{{$ОГ.не_качествено_всрок}}</td>
                   <td>{{$ОГ.пр_не_качествено_всрок}}</td>
                   <td>{{$ОГ.не_рассмотрено_срок_нарушен}}</td>
                   <td>{{$ОГ.пр_не_рассмотрено_срок_нарушен}}</td>
                   <td>{{$ОГ.д_не_рассмотрено_срок_нарушен}}</td>
                   <td>{{$ОГ.рассмотрено_с_нарушением_срока}}</td>
                   <td>{{$ОГ.пр_рассмотрено_с_нарушением_срока}}</td>
                   <td>{{$ОГ.д_рассмотрено_с_нарушением_срока}}</td>
                   <td>{{$ОГ.не_рассмотрено_срок_нарушен_fssprus}}</td>
                   <td>{{$ОГ.пр_не_рассмотрено_срок_нарушен_fssprus}}</td>
                   <td>{{$ОГ.д_не_рассмотрено_срок_нарушен_fssprus}}</td>

                   <td>{{$ОГ.рассмотрено_с_нарушением_срока_fsspr}}</td>
                   <td>{{$ОГ.пр_рассмотрено_с_нарушением_срока_fsspr}}</td>
                   <td>{{$ОГ.д_рассмотрено_с_нарушением_срока_fsspr}}</td>
                   <td>{{$ОГ.не_качественно_просрочено}}</td>
                   <td>{{$ОГ.пр_не_качественно_просрочено}}</td>
                   <td>{{$ОГ.д_не_качественно_просрочено}}</td>

               {{end}}

           </tr>
           <tr data-doc_type="ПО">
               {{with $ОП := index $Данные.статистика "Обращения представителей организаций"}}
                   <th>Обращения представителей организаций</th>
                   <td>{{$ОП.всего_обращений}}</td>
                   <td>{{$ОП.на_рассмотрении}}</td>
                   <td>{{$ОП.пр_на_рассмотрении}}</td>
                   <td>{{$ОП.на_рассмотрении_fssprus}}</td>
                   <td>{{$ОП.пр_на_рассмотрении_fssprus}}</td>
                   <td>{{$ОП.рассмотрено_в_срок}}</td>
                   <td>{{$ОП.пр_рассмотрено_в_срок}}</td>
                   <td>{{$ОП.не_качествено_всрок}}</td>
                   <td>{{$ОП.пр_не_качествено_всрок}}</td>
                   <td>{{$ОП.не_рассмотрено_срок_нарушен}}</td>
                   <td>{{$ОП.пр_не_рассмотрено_срок_нарушен}}</td>
                   <td>{{$ОП.д_не_рассмотрено_срок_нарушен}}</td>
                   <td>{{$ОП.рассмотрено_с_нарушением_срока}}</td>
                   <td>{{$ОП.пр_рассмотрено_с_нарушением_срока}}</td>
                   <td>{{$ОП.д_рассмотрено_с_нарушением_срока}}</td>

                   <td>{{$ОП.не_рассмотрено_срок_нарушен_fssprus}}</td>
                   <td>{{$ОП.пр_не_рассмотрено_срок_нарушен_fssprus}}</td>
                   <td>{{$ОП.д_не_рассмотрено_срок_нарушен_fssprus}}</td>

                   <td>{{$ОП.рассмотрено_с_нарушением_срока_fsspr}}</td>
                   <td>{{$ОП.пр_рассмотрено_с_нарушением_срока_fsspr}}</td>
                   <td>{{$ОП.д_рассмотрено_с_нарушением_срока_fsspr}}</td>

                   <td>{{$ОП.не_качественно_просрочено}}</td>
                   <td>{{$ОП.пр_не_качественно_просрочено}}</td>
                   <td>{{$ОП.д_не_качественно_просрочено}}</td>

               {{end}}

           </tr>
{{/*           <tr data-doc_type="ИНЫЕ>*/}}
{{/*               <th>Иные</th>*/}}
{{/*               <td>0</td>*/}}
{{/*               <td>0</td>*/}}
{{/*               <td>0</td>*/}}
{{/*               <td>0</td>*/}}
{{/*               <td>0</td>*/}}
{{/*               <td>0</td>*/}}
{{/*               <td>0</td>*/}}
{{/*               <td>0</td>*/}}
{{/*               <td>0</td>*/}}
{{/*               <td>0</td>*/}}
{{/*               <td>0</td>*/}}
{{/*               <td>0</td>*/}}
{{/*               <td>0</td>*/}}
{{/*               <td>0</td>*/}}
{{/*               <td>0</td>*/}}
{{/*               <td>0</td>*/}}
{{/*               <td>0</td>*/}}
{{/*               <td>0</td>*/}}
{{/*               <td>0</td>*/}}
{{/*               <td>0</td>*/}}
{{/*               <td>0</td>*/}}
{{/*               <td>0</td>*/}}


{{/*           </tr>*/}}




            </tbody>
        </table>
            {{end}}
    </div>
{{end}}