{{define "СводнаяПоДежурнымСпи"}}
    <div id="part_1" class="flex-col flex_justify-center flex_align-center">
        <h2 class="flex-col flex_justify-center flex_align-center">
            Сводный РАПОРТ о результатах дежурства
            {{$OspCode := .client.OspCode}}
        </h2>



        <form action="рапорт за месяц" onsubmit="WS.SendForm(event, false, false, false)">

            {{ $месяцы := Месяцы .data.периоды }}

            <select name="месяц" id="month">
                {{range $номерМесяца, $название := $месяцы}}
                    <option value="{{$номерМесяца}}">
                        {{$название}}

                    </option>

                {{end}}
            </select>
         <button class="io" type="submit">Показать</button>
        </form>


        {{$свод := (index .data.рапорт_око 0).свод}}

        {{$отделы:=""}}
        {{$порядок_осп:=""}}

            {{range $код, $осп := .Osp}}

                    {{if and (ne $код 26000) (ne $код 26) (ne $код 26046) (ne $код 26044) }}
                       {{ $кодОсп := ЧислоВСтроку $код}}

                        {{$отделы = Строка $отделы `<th id="осп_` $кодОсп `">`  $осп.OspName ` (` $кодОсп `) </th>` }}

                    {{end}}

            {{end}}

        <form name="part_1"  class="col" action="" onsubmit="null">



            <table class="io_table left" style="text-align: left">
                <caption>
                    <h3>РАЗДЕЛ I
                    <p>«Информация о личном приеме дежурными СПИ»</p>
                        <div class="flex_justify-center">За период   {{$свод.период.с}} - {{$свод.период.по}}</div>
                    </h3>
                </caption>
                <thead>
                    <tr>
                        <th style="min-width: 580px;" colspan="3">
                            Результаты дежурства
                        </th>
                        <th>
                            кол-во/сумма
                        </th>
                        {{СтрокуВHTML $отделы nil}}
                    </tr>
                </thead>
                <tbody>

                {{$свод_1 := $свод.раздел_1 }}
                {{if gt (len $свод_1) 0}}
                <tr>
                    <th colspan="3">Количество дежурных СПИ, осуществляющих прием</th>

                    <td>{{ЧислоВСтроку $свод_1.кол_дежурных_спи}}</td>

{{/*                    {{if (eq .client.OspCode 26911)}}*/}}


                        {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_1 0).кол_дежурных_спи}}

{{/*                    {{else}}*/}}

{{/*                     {{template "СтрокаДляОтчетаПоДежурнымСпи"   СоздатьКонекст .  (index .data.рапорт_око 0).данные_по_осп.раздел_1.кол_дежурных_спи}}*/}}
{{/*                    {{end}}*/}}
                </tr>
                <tr>
                    <th rowspan="4">
                        Количество посетителей, обратившихся на прием
                    </th>
                    <th colspan="2">Всего</th>
                    <td>
                        {{ЧислоВСтроку $свод_1.всего}}
                    </td>
{{/*                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_1 0).всего}}*/}}
                    {{template "СтрокаДляОтчетаПоДежурнымСпи"   СоздатьКонекст .  (index .data.рапорт_око 0).данные_по_осп.раздел_1.всего}}

                </tr>
                <tr>
                    <th rowspan="3">Из них</th>
                    <th>
                        Должник
                    </th>
                    <td>
                        {{ЧислоВСтроку $свод_1.должник}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_1 0).должник}}
                </tr>
                <tr>
                    <th>
                        Взыскатель
                    </th>
                    <td>
                        {{ЧислоВСтроку $свод_1.взыскатель}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_1 0).взыскатель}}
                </tr>
                <tr>
                    <th>
                        Иные лица
                    </th>
                    <td>
                        {{ЧислоВСтроку $свод_1.иные_лица}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_1 0).иные_лица}}
                </tr>
                <tr>
                    <th rowspan="6">
                        Причина явки
                    </th>
                    <th colspan="2">
                        Применение мер классического исполнения
                    </th>
                    <th>
                        {{ЧислоВСтроку $свод_1.меры_класич_исполнения}}
                    </th>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_1 0).меры_класич_исполнения}}
                </tr>
                <tr>
                    <th colspan="2">
                        Применение мер электронного исполнения
                    </th>
                    <th>
                        {{ЧислоВСтроку $свод_1.меры_электронного_исполнения}}
                    </th>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_1 0).меры_электронного_исполнения}}
                </tr>
                <tr>
                       <th colspan="2">
                           Получено уведомление (Почта, БДИП, СМС)
                       </th>
                       <td>
                           {{ЧислоВСтроку $свод_1.уведомление}}
                       </td>
                       {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_1 0).уведомление}}

                   </tr>
                <tr>
                      <th colspan="2">
                          Получение дополнительной информации по ИП
                      </th>
                      <td>
                          {{ЧислоВСтроку $свод_1.доп_инфо_по_ип}}
                      </td>
                      {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_1 0).доп_инфо_по_ип}}
                  </tr>
                <tr>
                       <th colspan="2">
                           Получение справочной информации
                       </th>
                       <td>
                           {{ЧислоВСтроку $свод_1.справочно}}
                       </td>
                       {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_1 0).справочно}}
                   </tr>
                <tr>
                    <th colspan="2">
                        Иные причины
                    </th>
                    <td>
                        {{ЧислоВСтроку $свод_1.иные}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_1 0).иные}}
                </tr>
                <tr>
                    <th rowspan="9">
                        Результаты приема
                    </th>

                    <th colspan="2">
                        Оплачено/представлено квитанций на сумму
                    </th>
                    <td>
                        {{ ЧислоВСтроку   $свод_1.квитанций_на_смму}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_1 0).иные}}
                </tr>
                <tr>
                    <th colspan="2">
                        Подлежит окончанию/окончено, кол-во ИП
                    </th>
                    <td>
                        {{ ЧислоВСтроку  $свод_1.кол_ип}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_1 0).иные}}
                </tr>
                <tr>
                    <th colspan="2">
                        Запись на прием к должностному лицу
                    </th>
                    <td>
                        {{ЧислоВСтроку $свод_1.запись_к_должностному}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_1 0).иные}}
                </tr>
                <tr>
                    <th colspan="2">
                        Принято: Ходатайств, АЖ, Обращений
                    </th>
                    <td>
                        {{ЧислоВСтроку $свод_1.принято_обращений}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_1 0).иные}}
                </tr>
                <tr>
                    <th colspan="2">
                        Взыскателем представлена новая информация о должнике и его имуществе
                    </th>
                    <td>
                        {{ЧислоВСтроку $свод_1.новая_информация}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_1 0).новая_информация}}
                </tr>
                <tr>

                    <th colspan="2">
                        Представлена информация по ИП, кол-во заявителей
                    </th>
                    <td>
                        {{ЧислоВСтроку $свод_1.представлена_инф_ип_кол_заявителе}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_1 0).представлена_инф_ип_кол_заявителе}}
                </tr>
                <tr>
                    <th colspan="2">
                        Представлена справочная информация, консультации, кол-во заявителей
                    </th>
                    <td>
                        {{ЧислоВСтроку $свод_1.консультация_кол_заявителей}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_1 0).консультация_кол_заявителей}}
                </tr>
                <tr>

                    <th colspan="2">
                        Вручены справки о неполучении алиментов, об отсутствии исполнительных производств и т. д.,  кол-во заявителей
                    </th>
                    <td>
                        {{ЧислоВСтроку $свод_1.вручено_справок}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_1 0).вручено_справок}}
                </tr>
                <tr>

                    <th colspan="2">
                        Вручены копии процессуальных документов, в том числе посетителям, явившимся в дополнительно назначенное время, кол-во заявителей
                    </th>
                    <td>
                        {{ЧислоВСтроку $свод_1.врученый_копии_проц_док}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_1 0).врученый_копии_проц_док}}
                </tr>
                <tr>
                    <th rowspan="6">
                        Принятые меры к должникам в ходе приема СПИ
                    </th>
                    <th colspan="2">
                        У должника отобрано объяснение
                    </th>
                    <td>
                        {{ЧислоВСтроку $свод_1.отобрано_объяснение}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_1 0).отобрано_объяснение}}
                </tr>
                <tr>
                    <th colspan="2">
                        Наложен арест на имущество
                    </th>
                    <td>
                        {{ЧислоВСтроку $свод_1.арест_на_имущество}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_1 0).арест_на_имущество}}
                </tr>
                <tr>
                    <th colspan="2">
                        Составлен протокол
                    </th>
                    <td>
                        {{ЧислоВСтроку $свод_1.составлен_протокол}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_1 0).составлен_протокол}}
                </tr>
                <tr>
                    <th colspan="2">
                        Ограничено право выезда
                    </th>
                    <td>
                        {{ЧислоВСтроку $свод_1.ограничено_право_выезда}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_1 0).ограничено_право_выезда}}
                </tr>
                <tr>
                    <th colspan="2">
                        Ограничено спец.право
                    </th>
                    <td>
                        {{ЧислоВСтроку $свод_1.ограничено_спец_право}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_1 0).ограничено_спец_право}}
                </tr>
                <tr>
                    <th colspan="2">
                        Вручено требование
                    </th>
                    <td>
                        {{ЧислоВСтроку $свод_1.вручено_требование}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_1 0).вручено_требование}}
                </tr>
                    {{else}}
                    <tr>
                        <td colspan="26">
                            Данных за текущий месяц не загружено
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>

        </form>
        {{$свод_2 := $свод.раздел_2 }}
        <form name="part_2" style="" class="col" action="сохранить раздел 2 орог" onsubmit="WS.SendForm(event, false, false, false)">

            <table class="io_table left" style="text-align: left">
                <caption>
                    <h3>РАЗДЕЛ II
                        <p>«Информация о внесении сведений в АИС ФССП России» </p>
                        <div class="flex_justify-center">За период   {{$свод.период.с}} - {{$свод.период.по}} </div>
                    </h3>

                </caption>
                <thead>

                <tr>
                    <th style="min-width: 300px;">

                    </th>
                    <th>
                        Всего
                    </th>
                    <th>
                        Внесено в АИС
                    </th>
                    <th>
                        Необходимо внести в АИС
                    </th>
                    <th>
                        Примечание
                    </th>
                    {{СтрокуВHTML $отделы nil}}
                </tr>

                </thead>
                <tbody>
    {{if $свод_2}}
                    <tr>
                        <th>Вручено постановлений о возбуждении ИП должникам</th>
                        <td>
                            {{$свод_2.всего_вручено}}
                        </td>
                        <td>
                            {{$свод_2.возбуждение_ип_внесено}}
                        </td>
                        <td>
                            {{$свод_2.возбуждение_ип_необходимо_внести}}
                        </td>
                        <td>

                        </td>



{{/*                        {{template "СтрокаДляОтчетаПоДежурнымСпиРаздел2" СоздатьКонекст .  (index .data.раздел_2 0).возбуждение_ип_необходимо_внести }}*/}}

                    </tr>
                    <tr>
                        <th>Информация о месте работы должника</th>
                        <td>
                            {{$свод_2.всего_мест_работы}}
                        </td>
                        <td>
                            {{$свод_2.место_работы_должника_внесено}}
                        </td>
                        <td>
                            {{$свод_2.место_работы_необходимо_внести}}
                        </td>
                        <td>

                        </td>

                    </tr>
                    <tr>
                        <th>Телефон должника</th>
                        <td>
                            {{$свод_2.всего_телефонов}}
                        </td>
                        <td>
                            {{$свод_2.телефон_должника_внесено}}
                        </td>
                        <td>
                            {{$свод_2.телефон_необходимо_внести}}
                        </td>
                        <td>

                        </td>

                    </tr>
                    <tr>
                        <th>Иной адрес должника</th>
                        <td>
                            {{$свод_2.всего_иной_адрес}}
                        </td>
                        <td>
                            {{$свод_2.иной_адрес_должника_внесено}}
                        </td>
                        <td>
                            {{$свод_2.иной_адрес_должника_невнесено}}
                        </td>
                        <td>

                        </td>

                    </tr>
                    <tr>
                        <th>Карточек личного приема всех посетителей (должников, взыскателей, иных лиц) дежурными СПИ</th>
                        <td>
                            {{$свод_2.всего_карточек_дежурным}}
                        </td>
                        <td>
                            {{$свод_2.карточек_дежурным_внесено}}
                        </td>
                        <td>
                            {{$свод_2.карточек_дежурным_невнесено}}
                        </td>
                        <td>

                        </td>

                    </tr>
                    <tr>
                        <th>Карточек личного приема всех посетителей (должников, взыскателей, иных лиц) СПИ, осуществляющими прием в приемные часы</th>
                        <td>
                            {{$свод_2.всего_карточек_приемные}}
                        </td>
                        <td>
                            {{$свод_2.карточек_приемные_внесено}}
                        </td>
                        <td>
                            {{$свод_2.карточек_приемные_невнесено}}
                        </td>
                        <td>

                        </td>
                    </tr>
    {{else}}
        <tr>
            <td colspan="6">
                Данных за текущий месяц не загружено
            </td>
        </tr>
    {{end}}

                </tbody>

            </table>
        </form>

        {{$свод_3 := $свод.раздел_3}}

        <form name="part_3" style="" class="col" action="сохранить раздел 3 орог" onsubmit="WS.SendForm(event, false, false, false)">

            <table class="io_table left" style="text-align: left">
                <caption>
                    <h3>РАЗДЕЛ III
                        <p>«Информация об обращениях, поступивших дежурным СПИ,
                            посредством телефонной связи»
                        </p>
                        <div class="flex_justify-center">За период {{$свод.период.с}} - {{$свод.период.по}}</div>
                    </h3>

                </caption>
                <thead>
                <tr>
                    <th style="min-width: 580px;" colspan="3">
                        Результаты дежурства
                    </th>
                    <th>
                        Количество заявителей
                    </th>
                    {{СтрокуВHTML $отделы nil}}
                </tr>
                </thead>
                <tbody>
    {{if $свод_2}}
                <tr>
                    <th colspan="3">
                        Количество дежурных СПИ, принимающих звонки в отчетный период
                    </th>
                    <td>
                        {{$свод_3.кол_дежурных}}
                    </td>


                        {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_3 0).кол_дежурных}}
{{/*                 {{range $f,$g := (index .data.рапорт_око 0).данные_по_осп.раздел_3 }}*/}}
{{/*                    {{$f}},{{$g}}*/}}
{{/*                     {{end}}*/}}

{{/*                    {{template "СтрокаДляОтчетаПоДежурнымСпи"   СоздатьКонекст .  (index .data.рапорт_око 0).данные_по_осп.раздел_3.кол_дежурных}}*/}}

                </tr>
                <tr>
                    <td rowspan="4">
                        Количество заявителей, обратившихся по телефону
                    </td>
                    <th colspan="2">Всего</th>
                    <td>
                        {{$свод_3.всего}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_3 0).всего}}

{{/*                    {{template "СтрокаДляОтчетаПоДежурнымСпи"   СоздатьКонекст .  (index .data.рапорт_око 0).данные_по_осп.раздел_3.всего}}*/}}
                </tr>
                <tr>
                    <th rowspan="3">Из них</th>
                    <th>Должник</th>
                   <td>
                       {{$свод_3.должник_по_тел}}
                   </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_3 0).должник_по_тел}}
{{/*                    {{template "СтрокаДляОтчетаПоДежурнымСпи"   СоздатьКонекст .  (index .data.рапорт_око 0).данные_по_осп.раздел_3.должник_по_тел}}*/}}
                </tr>
                <tr>
                    <th>Взыскатель</th>
                  <td>
                      {{$свод_3.взыскатель_по_тел}}
                  </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_3 0).взыскатель_по_тел}}
{{/*                    {{template "СтрокаДляОтчетаПоДежурнымСпи"   СоздатьКонекст .  (index .data.рапорт_око 0).данные_по_осп.раздел_3.взыскатель_по_тел}}*/}}
                </tr>
                <tr>
                    <th>Иные лица</th>
                    <td>
                        {{$свод_3.иные_по_тел}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_3 0).иные_по_тел}}
{{/*                    {{template "СтрокаДляОтчетаПоДежурнымСпи"   СоздатьКонекст .  (index .data.рапорт_око 0).данные_по_осп.раздел_3.иные_по_тел}}*/}}
                </tr>
                <tr>
                   <td rowspan="7">
                       Причина звонка
                   </td>
                    <th colspan="2">
                        По вопросам взыскания с лица, ошибочно идентифицированном в качестве должника (двойник)
                    </th>
                    <td>
                        {{$свод_3.причина_двойник}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_3 0).причина_двойник}}
{{/*                    {{template "СтрокаДляОтчетаПоДежурнымСпи"   СоздатьКонекст .  (index .data.рапорт_око 0).данные_по_осп.раздел_3.причина_двойник}}*/}}
                </tr>
                <tr>
                    <th colspan="2">
                        По вопросам снятия ареста с банковского счета должника, запрета на рег.действия в отношении имущества, ограничения выезда за пределы РФ
                    </th>
                    <td>
                        {{$свод_3.причина_снятие_ограничений}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_3 0).причина_снятие_ограничений}}
{{/*                    {{template "СтрокаДляОтчетаПоДежурнымСпи"   СоздатьКонекст .  (index .data.рапорт_око 0).данные_по_осп.раздел_3.причина_снятие_ограничений}}*/}}
                </tr>
                <tr>
                    <th colspan="2">
                        По вопросам  получения процессуальных документов, документов о неполучении алиментов, отсутствия ИП и т. д.
                    </th>
                    <td>
                        {{$свод_3.причина_получение_документов}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_3 0).причина_получение_документов}}
{{/*                    {{template "СтрокаДляОтчетаПоДежурнымСпи"   СоздатьКонекст .  (index .data.рапорт_око 0).данные_по_осп.раздел_3.причина_получение_документов}}*/}}
                </tr>
                <tr>
                    <th colspan="2">
                        Получение общедоступной информации по ИП
                    </th>
                    <td>
                        {{$свод_3.причина_получение_инфо_по_ип}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_3 0).причина_получение_инфо_по_ип}}
{{/*                    {{template "СтрокаДляОтчетаПоДежурнымСпи"   СоздатьКонекст .  (index .data.рапорт_око 0).данные_по_осп.раздел_3.причина_получение_инфо_по_ип}}*/}}
                </tr>
                <tr>
                    <th colspan="2">
                        Получение справочной информации
                    </th>
                    <td>
                        {{$свод_3.причина_спровочно}}
                    </td>
{{/*                    {{template "СтрокаДляОтчетаПоДежурнымСпи"   СоздатьКонекст .  (index .data.рапорт_око 0).данные_по_осп.раздел_3.причина_спровочно}}*/}}
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_3 0).причина_спровочно}}
                </tr>
                <tr>
                    <th colspan="2">
                        Запись на прием к должностным лицам
                    </th>
                    <td>
                        {{$свод_3.причина_запись}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_3 0).причина_запись}}
{{/*                    {{template "СтрокаДляОтчетаПоДежурнымСпи"   СоздатьКонекст .  (index .data.рапорт_око 0).данные_по_осп.раздел_3.причина_запись}}*/}}
                </tr>
                <tr>
                    <td colspan="2">
                        Иные причины
                    </td>
                    <td>
                        {{$свод_3.иные_причины}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_3 0).иные_причины}}
{{/*                    {{template "СтрокаДляОтчетаПоДежурнымСпи"   СоздатьКонекст .  (index .data.рапорт_око 0).данные_по_осп.раздел_3.иные_причины}}*/}}
                </tr>
                <tr>
                    <td rowspan="5">
                        Результаты звонка
                    </td>
                    <th colspan="2">
                        Представлена общедоступная информация по ИП
                    </th>
                    <td>
                        {{$свод_3.рез_инфо_предоставлена}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_3 0).рез_инфо_предоставлена}}
{{/*                    {{template "СтрокаДляОтчетаПоДежурнымСпи"   СоздатьКонекст .  (index .data.рапорт_око 0).данные_по_осп.раздел_3.рез_инфо_предоставлена}}*/}}
                </tr>
                <tr>
                    <th colspan="2">
                        Представлена справочная информация, консультации
                    </th>
                    <td>
                        {{$свод_3.рез_справка}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_3 0).рез_справка}}
{{/*                    {{template "СтрокаДляОтчетаПоДежурнымСпи"   СоздатьКонекст .  (index .data.рапорт_око 0).данные_по_осп.раздел_3.рез_справка}}*/}}
                </tr>
                <tr>
                    <th colspan="2">
                        Вопрос разрешен в полном объеме в ходе разговора по иным основаниям
                    </th>
                    <td>
                        {{$свод_3.рез_вопрос_решен}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_3 0).рез_вопрос_решен}}
{{/*                    {{template "СтрокаДляОтчетаПоДежурнымСпи"   СоздатьКонекст .  (index .data.рапорт_око 0).данные_по_осп.раздел_3.рез_вопрос_решен}}*/}}
                </tr>
                <tr>
                    <th colspan="2">
                        Всего записано на прием к должностному лицу в часы приема
                    </th>
                    <td>
                        {{$свод_3.рез_записано_на_прием}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_3 0).рез_записано_на_прием}}
{{/*                    {{template "СтрокаДляОтчетаПоДежурнымСпи"   СоздатьКонекст .  (index .data.рапорт_око 0).данные_по_осп.раздел_3.рез_записано_на_прием}}*/}}
                </tr>
                <tr>
                    <th colspan="2">
                        Количество заявителей, обратившихся в телефонном режиме, которым назначено время для получения документов у дежурного СПИ
                    </th>
                    <td>
                        {{$свод_3.рез_назначено_время_дежурному}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_3 0).рез_назначено_время_дежурному}}
{{/*                    {{template "СтрокаДляОтчетаПоДежурнымСпи"   СоздатьКонекст .  (index .data.рапорт_око 0).данные_по_осп.раздел_3.рез_назначено_время_дежурному}}*/}}
                </tr>
    {{else}}
        <tr>
            <td colspan="17">
                Данных за текущий месяц не загружено
            </td>
        </tr>
      {{end }}
                </tbody>
            </table>
        </form>


        {{$свод_4 := $свод.раздел_4}}
        <form name="part_3" style="" class="col" action="сохранить раздел 4 орог" onsubmit="WS.SendForm(event, false, false, false)">

            <table class="io_table left" style="text-align: left">
                <caption>
                    <h3>РАЗДЕЛ IV
                        <p>«Информация о заявителях, записавшихся на прием к судебному приставу- исполнителю в приемные дни посредством сайта ФССП России, с которыми проведена предварительная работа в телефонном режиме дежурными СПИ»
                        </p>
                        <div class="flex_justify-center">За период   {{$свод.период.с}} - {{$свод.период.по}}</div>
                    </h3>
                </caption>
                <thead>
                <tr>
                    <th style="min-width: 580px;" colspan="2">
                        Наименование показателя
                    </th>
                    <th>
                        Количество
                    </th>
                    {{СтрокуВHTML $отделы nil}}
                </tr>
                </thead>
                <tbody>
    {{if $свод_2}}
                <tr>
                    <th colspan="2">
                        Всего записалось заявителей через сайт ФССП России на прием в отчетном периоде к должностным лицам ПСП
                    </th>
                    <td>
                        {{$свод_4.записно_через_сайт}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_4 0).записно_через_сайт}}
                </tr>
                <tr>
                    <td>из них</td>
                    <th>имеется информация о контактном номере телефона заявителей из числа записавшихся,  в том числе в исполнительном производстве</th>
                    <td>
                        {{$свод_4.имеется_контактный_тел}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_4 0).имеется_контактный_тел}}
                </tr>
                <tr>
                    <th colspan="2">
                        Всего осуществлено звонков записавшимся  заявителям дежурными СПИ для выяснения сути обращения
                    </th>
                    <td>
                        {{$свод_4.дежурный_звонил_заявителю}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_4 0).дежурный_звонил_заявителю}}


                </tr>
                <tr>
                    <td rowspan="4">
                        Результаты обзвона
                    </td>
                    <th>
                        Вопрос разрешен в телефонном режиме, дано разъяснение
                    </th>
                    <td>
                        {{$свод_4.рез_вопрос_решён}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_4 0).рез_вопрос_решён}}
                </tr>
                <tr>
                    <th>
                        Назначено время для приема дежурным СПИ
                    </th>
                   <td>
                       {{$свод_4.рез_назначено_время}}
                   </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_4 0).рез_назначено_время}}
                </tr>
                <tr>
                    <th>
                        Отказ от приема по иным причинам
                    </th>
                    <td>
                        {{$свод_4.рез_отказ_приёма}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_4 0).рез_отказ_приёма}}
                </tr>
                <tr>
                    <th>
                        Прибудет на прием к должностному лицу ПСП, несмотря на предварительный звонок
                    </th>
                    <td>
                        {{$свод_4.рез_прибудет_на_приём}}
                    </td>
                    {{template "СтрокаДляОтчетаПоДежурнымСпиСпериодами"   СоздатьКонекст .  (index .data.раздел_4 0).рез_прибудет_на_приём}}
                </tr>
    {{else}}
        <tr>
            <td colspan="7">
                Данных за текущий месяц не загружено
            </td>
        </tr>
    {{end }}
                </tbody>
            </table>
        </form>
    </div>

{{end}}