{{define "СтрокаДляОтчетаПоДежурнымСпи"}}


{{/*        <td>{{.}}</td>*/}}
            {{$data:=.data}}

{{/*        {{$разделы := (index .data.рапорт 0).данные_по_осп}}*/}}
{{/*        {{$раздел := $разделы.раздел_1}}*/}}
{{/*        {{$строка:=""}}*/}}
{{/*        {{$отделы:=""}}*/}}
{{/*        {{$порядок_осп:=""}}*/}}
        {{range $код, $осп := .Osp}}

            {{if and (ne $код 26000) (ne $код 26) (ne $код 26046) (ne $код 26044) }}
               {{ $кодОсп := ЧислоВСтроку $код}}
                    {{$данные := ""}}
                     {{$class:=""}}
                     {{if $data }}
                        {{$данные := index $data $кодОсп}}
                        {{$данные = Пусто $данные}}

                     {{end}}
{{/*                  {{if eq $данные "Нет данных" }}*/}}
{{/*                      {{$class = "error"}}*/}}
{{/*                  {{end}}*/}}
                    <td data-osp="{{$кодОсп}}" class="{{$class}}">{{$данные}}</td>


            {{end}}
        {{end}}

{{end}}