{{define "СтрокаДляОтчетаПоДежурнымСпиСпериодами"}}


         {{$data:=.data}}

        {{range $код, $осп := .Osp}}

            {{if and (ne $код 26000) (ne $код 26) (ne $код 26046) (ne $код 26044) }}
               {{ $кодОсп := ЧислоВСтроку $код}}
               {{$данные := ""}}
               {{$class:=""}}
               {{if $data }}
                    {{$данные := index $data $кодОсп}}
{{/*                    {{$данные = Пусто $данные}}*/}}

{{/*                  {{if eq $данные "Нет данных" }}*/}}
{{/*                      {{$class = "error"}}*/}}


                     <td data-osp="{{$кодОсп}}"   class="{{$class}}">

                   {{ range $период , $колич := $данные}}
                           <div style="word-wrap: normal" class="flex-row nowrap"><nobr> {{$период}} : <strong> {{$колич}} </strong>  </nobr> </div>
                   {{end}}
                   </td>
                        {{else}}
                   <td data-osp="{{$кодОсп}}"   class="{{$class}}"> </td>
               {{end}}


            {{end}}
        {{end}}

{{end}}