{{define "СтрокаДляОтчетаПоДежурнымСпиРаздел2"}}




       {{$data:=.data}}

        {{range $код, $осп := .Osp}}
            {{if and (ne $код 26000) (ne $код 26) }}
               {{ $кодОсп := ЧислоВСтроку $код}}

{{/*               {{$данные := index $data $кодОсп}}*/}}

               <tr>
{{/*                   {{$данные}}*/}}
               </tr>
{{/*                  {{$данные := index $data $кодОсп}}*/}}
{{/*                    {{$class:=""}}*/}}
{{/*                    {{if not $данные }}*/}}
{{/*                        {{$данные = "нет данных"}}*/}}
{{/*                        {{$class = "error"}}*/}}
{{/*                        {{else}}*/}}
{{/*                        {{$данные =  (ЧислоВСтроку $данные)}}*/}}
{{/*                    {{end}}*/}}
{{/*                  <td data-osp="{{$кодОсп}}" class="{{$class}}">{{$данные}}</td>*/}}
            {{end}}
        {{end}}

{{end}}