{{define "СтатОтчеты"}}

    {{$данныеУправления := .data.отчеты_управление.отчеты_управление }}
    {{$данныеОСП := .data.отчеты.отчеты }}


    <table class="io_table">
      <caption>
        Отчёт 1.1
      </caption>
          <thead>
           <tr>
             <th>
               ОСП
             </th>

             <th colspan="2">
               Общее количество исполнительных производств, находившихся  на исполнении в отчетном периоде
               (Всего) 1.1.1
             </th>
             <th rowspan="2">
               Разница
             </th>
             <th colspan="2">
               количество исполнительных производств, возбужденных в отчетном периоде
               (Всего) 1.2.1
             </th>
             <th rowspan="2">
               Разница
             </th>

             <th colspan="2">
               Общее количество оконченных и прекращенных исполнительных  производств в отчетном периоде
               (Всего) 1.4.1
             </th>
             <th rowspan="2">
               Разница
             </th>

             <th colspan="2">
               Сумма по оконченным и прекращенным в отчетном периоде исполнительным производствам
               (Всего) 1.5.1
             </th>
             <th rowspan="2">
               Разница
             </th>

             <th colspan="2">
               Всего находилось на исполнении исполнительных производств в отчетном периоде
               (О взыскании алиментных платежей. Количество) 2.1.13
             </th>
             <th rowspan="2">
               Разница
             </th>

               <th colspan="2">
                 исполнительные производства, возбужденные в отчетном периоде
                 (О взыскании алиментных платежей. Количество) 2.2.13
             </th>
             <th rowspan="2">
               Разница
             </th>

            <th colspan="2">
              Всего окончено и прекращено исполнительных  производств в отчетном периоде
              (О взыскании алиментных платежей. Количество) 2.4.13
             </th>
             <th rowspan="2">
               Разница
             </th>


           </tr>

          <tr>
            <td>
              Источник данных
            </td>

            <td>
              РБД
            </td>
            <td>
              ОСП
            </td>

            <td>
              РБД
            </td>
            <td>
              ОСП
            </td>


            <td>
              РБД
            </td>
            <td>
              ОСП
            </td>


            <td>
              РБД
            </td>
            <td>
              ОСП
            </td>


            <td>
              РБД
            </td>
            <td>
              ОСП
            </td>


            <td>
              РБД
            </td>
            <td>
              ОСП
            </td>

            <td>
              РБД
            </td>
            <td>
              ОСП
            </td>


          </tr>
          </thead>
          <tbody>
          {{ range $код, $осп := .Osp }}

            {{$ЗначениеУправление := ""}}
            {{$ЗначениеОСП := ""}}
            {{$НеСоваоадает := ""}}
            <tr id="row_{{$код}}">
              <th> {{$осп.OspName}}</th>

              <td>
                {{if $данныеУправления}}
                 {{ $ЗначениеУправление = index (index (index $данныеУправления (ЧислоВСтроку $код)) "011") "1.1.1" }}
                  {{$ЗначениеУправление}}

              {{end}}
              </td>
              <td>
                {{if $данныеОСП}}
                  {{ $ЗначениеОСП = index (index (index $данныеОСП (ЧислоВСтроку $код)) "011") "1.1.1" }}
                  {{$ЗначениеОСП}}

                {{end}}
              </td>

              {{if ne (Разница $ЗначениеУправление $ЗначениеОСП) 0}}
                {{$НеСоваоадает = "red"}}
              {{end}}
              <td class="{{$НеСоваоадает}}">
                {{Разница $ЗначениеУправление $ЗначениеОСП}}
                {{$НеСоваоадает = ""}}
                {{$ЗначениеУправление = ""}}
                {{$ЗначениеОСП = ""}}
              </td>

              <td>
                {{if $данныеУправления}}
                  {{ $ЗначениеУправление = index (index (index $данныеУправления (ЧислоВСтроку $код)) "011") "1.2.1" }}
                  {{$ЗначениеУправление}}

                {{end}}
              </td>
              <td>
                {{if $данныеОСП}}
                  {{ $ЗначениеОСП = index (index (index $данныеОСП (ЧислоВСтроку $код)) "011") "1.2.1" }}
                  {{$ЗначениеОСП}}

                {{end}}
              </td>

              {{if ne (Разница $ЗначениеУправление $ЗначениеОСП) 0}}
                {{$НеСоваоадает = "red"}}
              {{end}}
              <td class="{{$НеСоваоадает}}">
                {{Разница $ЗначениеУправление $ЗначениеОСП}}
                {{$НеСоваоадает = ""}}
                {{$ЗначениеУправление = ""}}
                {{$ЗначениеОСП = ""}}
              </td>

              <td>
                {{if $данныеУправления}}
                  {{ $ЗначениеУправление = index (index (index $данныеУправления (ЧислоВСтроку $код)) "011") "1.4.1" }}
                  {{$ЗначениеУправление}}

                {{end}}
              </td>
              <td>
                {{if $данныеОСП}}
                  {{ $ЗначениеОСП = index (index (index $данныеОСП (ЧислоВСтроку $код)) "011") "1.4.1" }}
                  {{$ЗначениеОСП}}

                {{end}}
              </td>

              {{if ne (Разница $ЗначениеУправление $ЗначениеОСП) 0}}
                {{$НеСоваоадает = "red"}}
              {{end}}
              <td class="{{$НеСоваоадает}}">
                {{Разница $ЗначениеУправление $ЗначениеОСП}}
                {{$НеСоваоадает = ""}}
                {{$ЗначениеУправление = ""}}
                {{$ЗначениеОСП = ""}}
              </td>


              <td>
                {{if $данныеУправления}}
                  {{ $ЗначениеУправление = index (index (index $данныеУправления (ЧислоВСтроку $код)) "011") "1.5.1" }}
                  {{$ЗначениеУправление}}

                {{end}}
              </td>
              <td>
                {{if $данныеОСП}}
                  {{ $ЗначениеОСП = index (index (index $данныеОСП (ЧислоВСтроку $код)) "011") "1.5.1" }}
                  {{$ЗначениеОСП}}

                {{end}}
              </td>

              {{if ne (Разница $ЗначениеУправление $ЗначениеОСП) 0}}
                {{$НеСоваоадает = "red"}}
              {{end}}
              <td class="{{$НеСоваоадает}}">
                {{Разница $ЗначениеУправление $ЗначениеОСП}}
                {{$НеСоваоадает = ""}}
                {{$ЗначениеУправление = ""}}
                {{$ЗначениеОСП = ""}}
              </td>



              <td>
                {{if $данныеУправления}}
                  {{ $ЗначениеУправление = index (index (index $данныеУправления (ЧислоВСтроку $код)) "011") "2.1.13" }}
                  {{$ЗначениеУправление}}

                {{end}}
              </td>
              <td>
                {{if $данныеОСП}}
                  {{ $ЗначениеОСП = index (index (index $данныеОСП (ЧислоВСтроку $код)) "011") "2.1.13" }}
                  {{$ЗначениеОСП}}

                {{end}}
              </td>

              {{if ne (Разница $ЗначениеУправление $ЗначениеОСП) 0}}
                {{$НеСоваоадает = "red"}}
              {{end}}
              <td class="{{$НеСоваоадает}}">
                {{Разница $ЗначениеУправление $ЗначениеОСП}}
                {{$НеСоваоадает = ""}}
                {{$ЗначениеУправление = ""}}
                {{$ЗначениеОСП = ""}}
              </td>



              <td>
                {{if $данныеУправления}}
                  {{ $ЗначениеУправление = index (index (index $данныеУправления (ЧислоВСтроку $код)) "011") "2.2.13" }}
                  {{$ЗначениеУправление}}

                {{end}}
              </td>
              <td>
                {{if $данныеОСП}}
                  {{ $ЗначениеОСП = index (index (index $данныеОСП (ЧислоВСтроку $код)) "011") "2.2.13" }}
                  {{$ЗначениеОСП}}

                {{end}}
              </td>

              {{if ne (Разница $ЗначениеУправление $ЗначениеОСП) 0}}
                {{$НеСоваоадает = "red"}}
              {{end}}
              <td class="{{$НеСоваоадает}}">
                {{Разница $ЗначениеУправление $ЗначениеОСП}}
                {{$НеСоваоадает = ""}}
                {{$ЗначениеУправление = ""}}
                {{$ЗначениеОСП = ""}}
              </td>



              <td>
                {{if $данныеУправления}}
                  {{ $ЗначениеУправление = index (index (index $данныеУправления (ЧислоВСтроку $код)) "011") "2.4.13" }}
                  {{$ЗначениеУправление}}

                {{end}}
              </td>
              <td>
                {{if $данныеОСП}}
                  {{ $ЗначениеОСП = index (index (index $данныеОСП (ЧислоВСтроку $код)) "011") "2.4.13" }}
                  {{$ЗначениеОСП}}

                {{end}}
              </td>

              {{if ne (Разница $ЗначениеУправление $ЗначениеОСП) 0}}
                {{$НеСоваоадает = "red"}}
              {{end}}
              <td class="{{$НеСоваоадает}}">
                {{Разница $ЗначениеУправление $ЗначениеОСП}}
                {{$НеСоваоадает = ""}}
                {{$ЗначениеУправление = ""}}
                {{$ЗначениеОСП = ""}}
              </td>




            </tr>
          {{end}}
          </tbody>
      </table>

{{end}}