{{define "ТаблицаОтчётаМинусовАдмДоходов"}}
    <div id="otchet_wrapper">

        <div class="block flex-row">
            {{range $n, $период := .data.периоды_минусовых_отчётов}}
                <button class="bordered" onclick="WS.ОтправитьСообщениеИО('открыть минусовой отчёт за период', {'дата_отчёта': '{{$период.дата_отчёта}}', 'начало_периода': '{{$период.начало_периода}}', 'конец_периода':'{{$период.конец_периода}}'} )">
                    Дата формирования отчёта: <b> {{ ParseTime $период.дата_отчёта}}</b> <br>
                    Период <b> {{ ПолучитьДату $период.начало_периода}}
                   - {{ ПолучитьДату $период.конец_периода}} </b>
                </button>
            {{end}}
        </div>

        {{ $верные_кбк :=  ""}}
        {{ $неверные_кбк := ""}}
        {{ $минуса_всего := "" }}
        {{ $свр := "" }}

        {{ if gt (len .data.минуса_верные_кбк ) 0}}
            {{ $верные_кбк =  (index .data.минуса_верные_кбк 0).данные.строки}}
        {{end}}
        {{ if gt (len .data.минуса_неверные_кбк ) 0}}
            {{ $неверные_кбк = (index .data.минуса_неверные_кбк 0).данные.строки }}
        {{end}}

        {{ if gt (len .data.минуса_всего ) 0}}
            {{ $минуса_всего = (index .data.минуса_всего 0).данные.строки  }}
        {{end}}

        {{ if ne (not .data.свр ) true }}
            {{ if gt (len .data.свр ) 0}}
                {{ $свр = (index .data.свр 0).строки  }}
            {{end}}
        {{end}}



        <table class="io_table">
            <thead>
            <tr>
                <th>ОСП</th>
                <th>Всего Количество минусовых строк
                    <br><small>(Сформирован {{ParseTime (index .data.минуса_всего 0).данные.период.дата_отчёта}}. За период с {{(index .data.минуса_всего 0).данные.период.период.c}} по {{(index .data.минуса_всего 0).данные.период.период.по}})</small></th>
                <th>Всего сумма минусовых строк</th>
                <th>Количество минусовых строк с верными КБК
                    <br> <small>(Сформирован {{ParseTime (index .data.минуса_верные_кбк 0).данные.период.дата_отчёта}}. За период с {{(index .data.минуса_верные_кбк 0).данные.период.период.c}} по {{(index .data.минуса_верные_кбк 0).данные.период.период.по}}) </small></th>
                <th>Сумма минусовых строк с верными КБК</th>
                <th>Количество минусовых строк с НЕверными КБК
                    <br><small>(Сформирован {{ParseTime (index .data.минуса_неверные_кбк 0).данные.период.дата_отчёта}}. За период с {{(index .data.минуса_неверные_кбк 0).данные.период.период.c}} по {{(index .data.минуса_неверные_кбк 0).данные.период.период.по}})</small></th>
                <th>Сумма минусовых строк с НЕверными КБК</th>
                <th>Безнадёжные к взысканию Новые</th>
                <th>Безнадёжные к взысканию подготовлен к регистрации</th>
                <th>Истёк срок 5 лет</th>
            </tr>
            </thead>
            <tbody>
            {{ range  $осп, $данные := $.Osp}}
                {{ if and (ne $осп 26000) (ne $осп 25) }}
                    <tr id="{{$осп}}">
                        <td >  {{$данные.OspName }}</td>
                        <td >

                            {{if index $минуса_всего (ЧислоВСтроку $осп)}}
                                {{  (index $минуса_всего (ЧислоВСтроку $осп)).количество}}
                            {{end}}
                        </td>
                        <td>
                            {{if index $минуса_всего (ЧислоВСтроку $осп)}}
                                {{  (index $минуса_всего (ЧислоВСтроку $осп)).сумма}}
                            {{end}}
                        </td>

                        <td>
                            {{if index $верные_кбк (ЧислоВСтроку $осп)}}
                                {{  (index $верные_кбк (ЧислоВСтроку $осп)).количество}}
                            {{end}}
                        </td>
                        <td>
                            {{if index $верные_кбк (ЧислоВСтроку $осп)}}
                                {{  (index $верные_кбк (ЧислоВСтроку $осп)).сумма}}
                            {{end}}
                        </td>
                        <td>
                            {{if index $неверные_кбк (ЧислоВСтроку $осп)}}
                                {{  (index $неверные_кбк (ЧислоВСтроку $осп)).количество}}
                            {{end}}
                        </td>
                        <td>
                            {{if index $неверные_кбк (ЧислоВСтроку $осп)}}
                                {{  (index $неверные_кбк (ЧислоВСтроку $осп)).сумма}}
                            {{end}}
                        </td>
                        <td>
                            {{ if ne (not $свр ) true }}
                                {{if index $свр (ЧислоВСтроку $осп)}}
                                    {{  (index $свр (ЧислоВСтроку $осп)).новые}}
                                {{end}}
                                {{else}}
                                Не удалось собрать данные
                            {{end}}
                        </td>
                        <td>
                         {{ if ne (not $свр ) true }}
                            {{if index $свр (ЧислоВСтроку $осп)}}
                                {{  (index $свр (ЧислоВСтроку $осп)).подготовлен_к_рег}}
                            {{end}}
                         {{else}}
                             Не удалось собрать данные
                         {{end}}
                        </td>
                        <td>
                            {{ if ne (not $свр ) true }}
                                {{if index $свр (ЧислоВСтроку $осп)}}
                                    {{  (index $свр (ЧислоВСтроку $осп)).срок_5лет}}
                                {{end}}
                            {{else}}
                                Не удалось собрать данные
                            {{end}}
                        </td>

                    </tr>
                {{end}}
            {{end}}
            </tbody>
        </table>
    </div>


{{end}}