{{define "ТестЗапроса"}}
   {{$sql := "INSERT INTO статистика.столбцы (ид_таблицы,ид_спец_фильтра,ид_запроса,имя_столбца,  детализация) VALUES {{ $value }} ON CONFLICT ON CONSTRAINT столбцы_pk DO NOTHING"}}

    {{$запросы := .данные.запрос}}

    {{$value := "" }}
    {{$ПоляДетализации := ""}}

    {{ $КоличествоОбработанныхЗапросов := 0}}

{{ range $ИД, $Данные := $запросы }}

    {{if eq $Данные.тип "custom_sql"}}

    {{$value = Строка $value "( (select ид from статистика.таблицы where имя_таблицы = $1)" ",'" $ИД "',null,'" $Данные.имя_столбца "'," }}

    {{else}}
        {{$value = Строка $value "( (select ид from статистика.таблицы where имя_таблицы = $1)" ",null,'" $ИД "','" $Данные.имя_столбца "'," }}
    {{end}}



    {{ if $Данные.детализация }}
        {{$ПоляДетализации = вJSON  $Данные.детализация }}
    {{end}}
    {{$value = Строка $value "'" $ПоляДетализации "'" ")" }}
    {{$КоличествоОбработанныхЗапросов =  Сумма $КоличествоОбработанныхЗапросов 1}}
    {{ if lt $КоличествоОбработанныхЗапросов (len $запросы)}}
        {{$value = Строка $value "," }}
    {{end}}

{{end}}


   "INSERT INTO статистика.столбцы (ид_таблицы,ид_спец_фильтра,имя_столбца,  детализация) VALUES {{ $value }} ON CONFLICT ON CONSTRAINT столбцы_pk DO NOTHING"

{{/*    {{$КоличествоФильтров := len .data.sql_id}}*/}}

{{/*    {{ range $НомерФИльтра, $SqlId := .data.sql_id }}*/}}

{{/*        {{$value = Строка $value "((select ид from статистика.таблицы where имя_таблицы = $1)" "," $SqlId ",'" (index (index $.data.имя_столбца $SqlId) 0)  "'," }}*/}}
{{/*        {{ $МассивПолей := ")" }}*/}}
{{/*        {{if  $.data.fields }}*/}}
{{/*            {{ $МассивПолей = (index $.data.fields  $SqlId) }}*/}}
{{/*            {{ if $МассивПолей }}*/}}

{{/*                {{$ПоляДетализации = "'["}}*/}}
{{/*                {{$КоличествоПолей := len $МассивПолей}}*/}}
{{/*                {{ range $НомерПоля, $поле := $МассивПолей }}*/}}

{{/*                    {{$ПоляДетализации = Строка  $ПоляДетализации "\"" $поле "\""}}*/}}
{{/*                    {{ if eq $КоличествоПолей (Сумма $НомерПоля 1)}}*/}}
{{/*                    {{else}}*/}}
{{/*                        {{$ПоляДетализации = Строка $ПоляДетализации ","}}*/}}
{{/*                    {{end}}*/}}
{{/*                {{end}}*/}}
{{/*                {{ $ПоляДетализации = Строка $ПоляДетализации "]'" }}*/}}
{{/*            {{else}}*/}}

{{/*                {{ $ПоляДетализации = "'[]'" }}*/}}
{{/*            {{end}}*/}}
{{/*        {{else}}*/}}
{{/*            {{ $ПоляДетализации = "'[]'" }}*/}}
{{/*        {{end}}*/}}





{{/*        {{$value = Строка $value $ПоляДетализации ")" }}*/}}
{{/*        {{ if ne $КоличествоФильтров (Сумма $НомерФИльтра 1) }}*/}}
{{/*            {{$value = Строка $value ","}}*/}}
{{/*        {{end}}*/}}
{{/*    {{end}}*/}}

{{/*{{$value}}*/}}
{{end}}